// types

.types__top-row

section.types
  .shell
    .container
      .range
        .types-essence.js-tabs#menu_tabs
          //- LEFT menu
          //- ---------------------------------------------
          .types-menu.types--wide-related
            h2.types-menu__title Доступные аксессуары:
            ul.types-menu__list

              //- item
              li.types-menu__item(data-id="prod-first")
                a.types-menu__link
                  .types-menu__link__img
                  .types-menu__link__text Подоконники

              //- item
              li.types-menu__item.active(data-id="prod-second")
                a.types-menu__link
                  .types-menu__link__img
                  .types-menu__link__text Откосы

              //- item
              li.types-menu__item(data-id="prod-third")
                a.types-menu__link
                  .types-menu__link__img
                  .types-menu__link__text Москитная сетка

              //- item
              li.types-menu__item(data-id="prod-fourth")
                a.types-menu__link
                  .types-menu__link__img
                  .types-menu__link__text Рассечка

              //- item
              li.types-menu__item(data-id="prod-fifth")
                a.types-menu__link
                  .types-menu__link__img
                  .types-menu__link__text Отливы

              //- item
              li.types-menu__item(data-id="prod-sixth")
                a.types-menu__link
                  .types-menu__link__img
                  .types-menu__link__text Средства по уходу за окнами





          //- LEFT menu for TABLET

          //- LEFT menu
          //- ---------------------------------------------
          .types-menu.types--tablet-related
            h2.types-menu__title Виды стеклопакетов:
            ul.types-menu__list

              //- item
              li.types-menu__item.js-parent(data-id="prod-first")
                a.types-menu__link
                  .types-menu__link__img
                  .types-menu__link__text Стандартный
                .chose-content__wrapper#prod-first
                  include 03-1__right-cont-inner

              //- item
              li.types-menu__item.js-parent.active(data-id="prod-second")
                a.types-menu__link
                  .types-menu__link__img
                  .types-menu__link__text Энергосберегающий
                .chose-content__wrapper.active#prod-second
                  include 03-1__right-cont-inner

              //- item
              li.types-menu__item.js-parent(data-id="prod-third")
                a.types-menu__link
                  .types-menu__link__img
                  .types-menu__link__text Мультифункциональный
                .chose-content__wrapper#prod-third
                  include 03-1__right-cont-inner

              //- item
              li.types-menu__item.js-parent(data-id="prod-fourth")
                a.types-menu__link
                  .types-menu__link__img
                  .types-menu__link__text Шумозащитный
                .chose-content__wrapper#prod-fourth
                  include 03-1__right-cont-inner

              //- item
              li.types-menu__item.js-parent(data-id="prod-fifth")
                a.types-menu__link
                  .types-menu__link__img
                  .types-menu__link__text Противоударный
                .chose-content__wrapper#prod-fifth
                  include 03-1__right-cont-inner

              //- item
              li.types-menu__item.js-parent(data-id="prod-sixth")
                a.types-menu__link
                  .types-menu__link__img
                  .types-menu__link__text Тонированный
                .chose-content__wrapper#prod-sixth
                  include 03-1__right-cont-inner

          //- eof LEFT menu for TABLET






          //- RIGHT content
          //- ---------------------------------------------
          .types-content.wide-related-content
            .chose-content__wrapper#prod-first
              p {tmp 001}
              include 03-1__right-cont-inner


            .chose-content__wrapper.active#prod-second
              p {tmp 002}
              include 03-1__right-cont-inner


            .chose-content__wrapper#prod-third
              p {tmp 003}
              include 03-1__right-cont-inner


            .chose-content__wrapper#prod-fourth
              p {tmp 004}
              include 03-1__right-cont-inner


            .chose-content__wrapper#prod-fifth
              p {tmp 005}
              include 03-1__right-cont-inner


            .chose-content__wrapper#prod-sixth
              p {tmp 006}
              include 03-1__right-cont-inner





// types end
