extends ../../../conf/002_docwrapper


append 001_config
  - var PageTitle = 'Главная страница'
  //- - var MetaDesc = 'Now we override default configed MetaDesc'
  //- - var jQuery = true
  //- - var jQueryUI = true
  //- - var jQueryEasing = true
  - var bxSlider = true
  //- - var animateNumber = true
  //- - var animateCss = true
  //- - var wowJs = true
  //- - var mainJsSrc = 'js/main.min.js'

  //- smoothDivScroll
  - var jQuery = true
  - var jQueryUI = true
  - var jQueryMousewheel = true
  - var jQkinetic = true
  - var jQsmoothDivScroll = true
  //- eof smoothDivScroll

  - var waterwheelCarousel = true
  //- counter:
  - var animateNumber = true
  - var animateCss = true
  - var wowJs = true

  //- countdown circles
  - var TimeCircles = true

  - var updateBodyClass = bodyClasses.push('page-index')

  //- - var GoogleFonts = 'Poiret+One'
  //- - var GoogleFonts = GoogleFonts.concat('|Roboto:400,700&subset=cyrillic')
  //- ...

append stylesheets
  //- link( href='css/extrastyles.css', rel='stylesheet' )


  //- eof HEAD appends
  //- –––––––––––––––––––––––––––––––––––––––––––––––––– */


block content
  .wrapper


    //
          ========================================================
                                  HEADER
          ========================================================

    //- header
    include ../../001__header
    //- eof header


    include ../../003a__side-nav


    include ../../003b__side-right



    //
          ========================================================
                                  CONTENT
          ========================================================

    //- main
    main.main


      include modules/03_window



      include modules/04_features

      include modules/05_slider-sales

      include modules/06_constructor



      include modules/07_interrogation

      include modules/08_counter

      include modules/09_feedbacks



      include modules/10_gallery

      include modules/11_consultation

      include modules/12_video



      include modules/13_articles

      include modules/14_partners

      include modules/15_firms
      //- eof main


      include modules/16_footer



    //
          ========================================================
                                  FOOTER
          ========================================================

    //- footer

    include ../../002__footer




    //- modal content
    //- include partials/__popup
    //- eof modal content

    //- eof footer
