extends ../../../conf/002_docwrapper


append 001_config
  - var PageTitle = 'Главная страница'
  //- - var MetaDesc = 'Now we override default configed MetaDesc'
  //- - var jQuery = true
  //- - var jQueryUI = true
  //- - var jQueryEasing = true
  //- - var bxSlider = true
  //- - var animateNumber = true
  //- - var animateCss = true
  //- - var wowJs = true
  //- - var mainJsSrc = 'js/main.min.js'
  - var updateBodyClass = bodyClasses.push('page-index')

  //- - var GoogleFonts = 'Poiret+One'
  //- - var GoogleFonts = GoogleFonts.concat('|Roboto:400,700&subset=cyrillic')
  //- ...

append stylesheets
  //- link( href='css/extrastyles.css', rel='stylesheet' )


  //- eof HEAD appends
  //- –––––––––––––––––––––––––––––––––––––––––––––––––– */


block content
  .wrapper


    //
          ========================================================
                                  HEADER
          ========================================================

    //- header
    include ../../001__header
    //- eof header


    //
          ========================================================
                                  CONTENT
          ========================================================

    //- main
    main.main
      p  it works
      // offcanvas nav side
      .offcanvas-nav-side


        //- top row
        .offcanvas-nav-side__top-row
          .offcanvas-nav-side__close
          .offcanvas-nav-side__logo


        //- content
        .offcanvas-nav-side__content


          //- menu
          ul.offcanvas-nav-side__menu


            //- menu-item
            li.offcanvas-nav-side__menu__item
              a Окна

                //- sub-menus
                ul.offcanvas-nav-side__sub-menus


                  //- separate sub list
                  li.offcanvas-nav-side__sub-list__title О компании


                    ul.offcanvas-nav-side__sub-list
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text


                  //- separate sub list
                  li.offcanvas-nav-side__sub-list__title О компании


                    ul.offcanvas-nav-side__sub-list
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text


                  //- separate sub list
                  li.offcanvas-nav-side__sub-list__title О компании


                    ul.offcanvas-nav-side__sub-list
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text


            //- menu-item
            li.offcanvas-nav-side__menu__item
              a Остекление

                //- sub-menus
                ul.offcanvas-nav-side__sub-menus


                  //- separate sub list
                  li.offcanvas-nav-side__sub-list__title О компании


                    ul.offcanvas-nav-side__sub-list
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text


                  //- separate sub list
                  li.offcanvas-nav-side__sub-list__title О компании


                    ul.offcanvas-nav-side__sub-list
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text


                  //- separate sub list
                  li.offcanvas-nav-side__sub-list__title О компании


                    ul.offcanvas-nav-side__sub-list
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text


            //- menu-item
            li.offcanvas-nav-side__menu__item
              a Продукция

                //- sub-menus
                ul.offcanvas-nav-side__sub-menus


                  //- separate sub list
                  li.offcanvas-nav-side__sub-list__title О компании


                    ul.offcanvas-nav-side__sub-list
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text


                  //- separate sub list
                  li.offcanvas-nav-side__sub-list__title О компании


                    ul.offcanvas-nav-side__sub-list
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text


                  //- separate sub list
                  li.offcanvas-nav-side__sub-list__title О компании


                    ul.offcanvas-nav-side__sub-list
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text


            //- menu-item
            li.offcanvas-nav-side__menu__item
              a Цены

                //- sub-menus
                ul.offcanvas-nav-side__sub-menus


                  //- separate sub list
                  li.offcanvas-nav-side__sub-list__title О компании


                    ul.offcanvas-nav-side__sub-list
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text


                  //- separate sub list
                  li.offcanvas-nav-side__sub-list__title О компании


                    ul.offcanvas-nav-side__sub-list
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text


                  //- separate sub list
                  li.offcanvas-nav-side__sub-list__title О компании


                    ul.offcanvas-nav-side__sub-list
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text



            li.offcanvas-nav-side__menu__item
              a Услуги

            li.offcanvas-nav-side__menu__item
              a О компании

            li.offcanvas-nav-side__menu__item
              a Полезная Информация
              //- . . . . . . . as above

      // offcanvas nav side end



      // offcanvas right side
      .offcanvas-right-side


        //- foreground
        .offcanvas-right-side__foreground
          ul.offcanvas-right-side__list
            li.offcanvas-right-side__item
              .offcanvas-right-side__phone +77054009101
            li.offcanvas-right-side__item
              .offcanvas-right-side__search Поиск


        //- background
        .offcanvas-right-side__top-row


          //- flags
          .offcanvas-right-side__flags
            .offcanvas-right-side__flags__item
            .offcanvas-right-side__flags__item
            .offcanvas-right-side__flags__item


          //- logo
          .offcanvas-right-side__logo
            .offcanvas-right-side__logo-thumb
            .offcanvas-right-side__logo-desc


          //- form
          form.offcanvas-right-side
            input
            input
            button

      // offcanvas right side end





      // window
      .window
        .shell
          .container
            .range
              .window-wrapper
                .window__sky
                .window__window
                .window__rollet
                  h1.window__rollet-title Real Plast
                  h2.window__rollet-desc Продажа пластиковых окон в Казахстане
                .window__tree
      // window end



      // features
      section.features
        .shell
          .container
            .range


              //- title
              h2.features-title Лучший производитель пластиковых окон Алматы
              hr.divider

              //- content block
              .features-content


                //- item
                .features__item
                  .features__item__foreground
                    .features__item__icon
                      +svg([{'class': 'icon-features svg-icon', 'pathid': 'svg-features-item', 'filename':'features-item-icon01'}])
                    h3.features__item__title 18 лет на рынке
                    .features__btn Больше
                  .features__item__more

                hr.vdivider

                //- item
                .features__item
                  .features__item__foreground
                    .features__item__icon
                      +svg([{'class': 'icon-features svg-icon', 'pathid': 'svg-features-item', 'filename':'features-item-icon02'}])
                    h3.features__item__title Конкурентные цены
                    .features__btn Больше
                  .features__item__more


                //- item
                .features__item
                  .features__item__foreground
                    .features__item__icon
                      +svg([{'class': 'icon-features svg-icon', 'pathid': 'svg-features-item', 'filename':'features-item-icon03'}])
                    h3.features__item__title аккуратный монтаж
                    .features__btn Больше
                  .features__item__more

                hr.vdivider

                //- item
                .features__item
                  .features__item__foreground
                    .features__item__icon
                      +svg([{'class': 'icon-features svg-icon', 'pathid': 'svg-features-item', 'filename':'features-item-icon04'}])
                    h3.features__item__title 10 лет гарантии на пвх и 8 лет на фурнитуру
                    .features__btn Больше
                  .features__item__more


                //- item
                .features__item
                  .features__item__foreground
                    .features__item__icon
                      +svg([{'class': 'icon-features svg-icon', 'pathid': 'svg-features-item', 'filename':'features-item-icon05'}])
                    h3.features__item__title 3 дня изготовление
                    .features__btn Больше
                  .features__item__more

                hr.vdivider

                //- item
                .features__item
                  .features__item__foreground
                    .features__item__icon
                      +svg([{'class': 'icon-features svg-icon', 'pathid': 'svg-features-item', 'filename':'features-item-icon06'}])
                    h3.features__item__title Возможность купить в рассрочку
                    .features__btn Больше
                  .features__item__more


      // features end



      // slider-sales
      .slider-sales
        .shell
          .container
            .range
              .slider-sales-wrapper


                //- item
                .slider-sales__item
                  .slider-sales__item__content
                  .slider-sales__item__stock
                    .stock__content
                      .stock__title Акция
                      .stock__desc Скидки на окна и двери от 35% до 50%
                      fotm.stock__form
                        input.stock__name(placeholder="Ваше имя" type="text")
                        input.stock__phone(placeholder="Ваш номер телефона" type="text")
                        button.stock__btn(type="submit") Получить скидку
                      .stock__more Просмотреть все акции
                    .stock__timer
                      .stock__timer-title Времени осталось
                      .stock__timer-essence
                        .stock__timer-item
                          .stock__timer-num 25
                          .stock__timer-def дней
                        .stock__timer-item
                          .stock__timer-num 16
                          .stock__timer-def часов
                        .stock__timer-item
                          .stock__timer-num 35
                          .stock__timer-def минут
                        .stock__timer-item
                          .stock__timer-num 15
                          .stock__timer-def секунд

                //- controls
                .slider-sales__controls

      // slider-sales end



      // constructor
      section.constructor
        .shell
          .container
            .range


              //- title
              h2.constructor-title скомпонуйте своё будущее окно


              //- content
              .constructor-essence

                //- tabs
                .constructor__tabs
                  .constructor__tabs__item Настройка комплектации
                    .constructor__tabs__item-num 1
                  .constructor__tabs__item Выбор типа окна
                    .constructor__tabs__item-num 2
                  .constructor__tabs__item Отправка на просчёт
                    .constructor__tabs__item-arrow

                //- info
                .constructor__info
                  .constructor__info-left
                  .constructor__info-right
                    .constructor__info-img
                    .constructor__info-title
                    .constructor__info-text
                      p
                    .constructor__info-colors
                      .info-colors__title Доступные цвета
                      .info-colors__checker
                        .info-colors__checker__item
                        .info-colors__checker__item
                        .info-colors__checker__item
                        .info-colors__checker__item
                      .info-colors__description
                        .info-colors__description__stable Выбрано:
                        .info-colors__description__name Темный дуб



                //- config
                .constructor__config
                  .constructor__config__tabs
                    .config__item-container
                      //- 1
                      .config__item
                        .config__item-title Профиль
                        .config__item-img
                      //- 2
                      .config__item(class="active")
                        .config__item-title Стеклопакет
                        .config__item-img
                      //- 3
                      .config__item
                        .config__item-title доп. Стеклопакет
                        .config__item-img
                      //- 4
                      .config__item
                        .config__item-title Фурнитура
                        .config__item-img
                      //- 5
                      .config__item
                        .config__item-title доп. Фурнитура
                        .config__item-img
                      //- 6
                      .config__item
                        .config__item-title Откосы
                        .config__item-img
                      //- 7
                      .config__item
                        .config__item-title Подоконник
                        .config__item-img
                      //- 8
                      .config__item
                        .config__item-title Москитная сетка
                        .config__item-img
                      //- 9
                      .config__item
                        .config__item-title Рассечка
                        .config__item-img
                      //- 10
                      .config__item
                        .config__item-title Аксессуары
                        .config__item-img
                    a.config__btn-ahead Далее

                  .constructor__config__tab-content
                    //- 1
                    .tab-content__item
                      .item-content
                        .item-content-left
                          .col
                            .item-content-left__img
                          .col
                            .item-content-left__title Однокамерный
                            p.item-content-left__text Ширина стеклопакета:
                              label 24 мм
                                input(type="checkbox")
                              label 32 мм
                                input(type="checkbox")
                        .item-content-right
                          .col
                            .item-content-left__img
                          .col
                            .item-content-left__title Однокамерный
                            p.item-content-left__text Ширина стеклопакета:
                              label 32 мм
                                input(type="checkbox")
                              label 36 мм
                                input(type="checkbox")
                      a.item-content-btn Выбрать
                        span Стеклопакет

                    //- 2
                    .tab-content__item


                    //- 3
                    .tab-content__item


                    //- 4
                    .tab-content__item


                    //- 5
                    .tab-content__item


                    //- 6
                    .tab-content__item


                    //- 7
                    .tab-content__item


                    //- 8
                    .tab-content__item


                    //- 9
                    .tab-content__item


                    //- 10
                    .tab-content__item


      // constructor end



      // interrogation
      section.interrogation
        .shell
          .inner
            .container
              .interrogation-essence


                //-title
                h2.interrogation-title Нас интересует ваше мнение
                hr.divider


                //- content
                  //- unit
                .interrogation-unit
                  .interrogation-unit-title Какого цвета окна вы хотите?
                  .interrogation-unit-content
                    form.interrogation-unit-form
                      ul
                        li
                          label.unit-form-radio
                            input(type="radio" name="tree")
                            span.radio-indicator
                            .label-text Светлый дуб
                        li
                          label.unit-form-radio
                            input(type="radio" name="tree")
                            span.radio-indicator
                            .label-text Орегон
                        li
                          label.unit-form-radio
                            input(type="radio" name="tree")
                            span.radio-indicator
                            .label-text Махагон
                        li
                          label.unit-form-radio
                            input(type="radio" name="tree" checked)
                            span.radio-indicator
                            .label-text Дуб
                      button.interrogation-btn-vote(href="javascript:void(0)") Проголосовать

                    //- preview
                    .interrogation-unit-preview
                      ul
                        //- item
                        li.unit-preview__item
                          .unit-preview__item__img
                            img(src="img/interrogation-preview-01.png")
                          .unit-preview__item__name Свелтый дуб
                        //- item
                        li.unit-preview__item
                          .unit-preview__item__img
                            img(src="img/interrogation-preview-02.png")
                          .unit-preview__item__name Орегон
                        //- item
                        li.unit-preview__item
                          .unit-preview__item__img
                            img(src="img/interrogation-preview-03.png")
                          .unit-preview__item__name Махагон
                        //- item
                        li.unit-preview__item
                          .unit-preview__item__img
                            img(src="img/interrogation-preview-04.png")
                          .unit-preview__item__name Дуб





      // interrogation end



      // counter
      .counter
        .shell
          .container
            .range
              .counter-essence


                .counter-achievement
                  .counter-achievement__title Наши достижения


                .counter-numbers
                  //- item
                  .counter-numbers__item
                    .counter-numbers__item__num 1427
                    .counter-numbers__item__title Человек стали нашими клиентами
                  //- item
                  .counter-numbers__item
                    .counter-numbers__item__num 83%
                    .counter-numbers__item__title Клиентов готовы нас рекомендовать
                  //- item
                  .counter-numbers__item
                    .counter-numbers__item__num 107 427
                    .counter-numbers__item__title Клиентов за 11 лет работы

      // counter end



      // feedbacks
      section.feedbacks
        .shell
          .container
            .range
              .feedbacks-essence


                //- title
                h2.feedbacks-title Что о нас говорят
                .divider
                .slider-stage
                  .slider
                    //- item
                    .slider-item
                      .slider-item__content
                        p Спасибо сотрудникам компании, которые не только грамотно провели все работы по установке пластиковых окон в комнату, но и дали дельные советы в процессе работы как ухаживать за окнами.Сотрудничеством очень доволен ...
                      .slider-item-author
                        .slider-item-author__photo
                        .slider-item-author__name Михаил Виссарионов
                    //- item
                    .slider-item(class='active')
                      .slider-item__content
                        blockquote
                          p Потребность в замене окон на балконе возникла, когда я переехал в новую квартиру. В данную компанию обратилась в первый раз. Для меня очень важно, как со мной общаются, и какой уровень сервиса мне предлагают. Менеджер очень доходчиво и профессионально рассказал об окнах, подобрал оптимальную конфигурацию для моей квартиры. Конфигурация остекления балкона: ПРОФИЛЬ: REHAU ECOSOL-DESIGN 70, СТЕКЛОПАКЕТ: Двухкамерный энергосберегающий Clima Screen Termo, AXOR . Все было сделано в срок: доставка — вовремя, монтаж — вовремя. Отдельное спасибо монтажникам.
                          date Пётр, апрель 2016
                        .expand
                          a.show-all посмотреть все отзывы
                      .slider-item-author
                        .slider-item-author__photo
                        .slider-item-author__name Пётр Шишкин

                    //- item
                    .slider-item
                      .slider-item__content
                        //- video
                        img(src="https://placehold.it/215x160/7f746e/fff?text=youtube")
                      .slider-item-author
                        .slider-item-author__photo
                        .slider-item-author__name Валентина Опаленскова
                  .slider-controls
                    .slider-controls__arrow.left
                    .slider-controls__arrow.right


                //- content
                  //- slider
                .feedbacks-slider
      // feedbacks end



      // gallery
      .gallery
        .shell
          .container
            .range
              .gallery-essence


                .row-1
                  .col.col-1
                    .gallery__item
                      img(src="https://placehold.it/550x470/7f746e/fff")
                  .col.col-2
                    .gallery__item
                      img(src="https://placehold.it/170x225/718e95/fff")
                    .gallery__item
                      img(src="https://placehold.it/170x225/8ba186/fff")
                  .col.col-3
                    .gallery__item
                      img(src="https://placehold.it/360x225/798e8b/fff")
                    .gallery__item
                      img(src="https://placehold.it/360x225/d08f6d/fff")
                .row-2
                  .col-s
                    .gallery__item
                      img(src="https://placehold.it/360x225/6b6869/fff")
                    .gallery__item
                      img(src="https://placehold.it/360x225/747d81/fff")
                    .gallery__item
                      img(src="https://placehold.it/360x225/a68161/fff")

              //- anchor to map
              .gallery__expand
                .gallery__expand-item.divider
                .gallery__expand-item.gallery__expand__btn Смотреть объекты на карте
                .gallery__expand-item.divider
      // gallery end



      // consultation
      section.consultation
        .shell
          .container
            .range
              .consultation-essence


                h2.consultation-title Заказать бесплатную консультацию
                a.consultation-btn(href="javascript:void(0)") Заказать

      // consultation end



      // video
      .video
        .shell
          .container
            .range
              .video-essence


                .video__item
                  img(src="https://placehold.it/930x580/796b68/fff?text=просмотреть видео")

              //- expand
              .video__expand
                .video__expand-item.divider
                a.video__expand-item.video__expand__btn(href="javascript:void(0)") Смотреть все видео
                .video__expand-item.divider
      // video end



      // articles
      section.articles
        .shell
          .container
            .range
              .articles-essence


                //- title
                h2.articles-main-title Полезные статьи
                .divider

                //- itemS:
                .articles__items-wrapper

                  //- item
                  .articles__item
                    .articles__item-left
                      .articles__substrate
                      .articles__item-thumb
                        img(src='img/articles-content-01.png')


                    .articles__item-right
                      .articles__item-right__title Оконные системы из нанотрубок
                      .articles__item-right__content
                        p Компания Real Plast предлагает услуги по установке современных пластиковых окон, качественных и надежных. Оконные ПВХ-системы защитят ваше жилье от морозов, сквозняков, чрезмерной влажности, пыли и уличного шума.
                        p Наша компания специализируется на изготовлении и монтаже пластиковых конструкций для жилой и коммерческой недвижимо...

                      .articles__item-right__footer
                        date.articles__item-right__date 18, августа 1918
                        a.articles__item-right__read-more(href="javascript:void(0)") Читать статью

                  //- item
                  .articles__item
                    .articles__item-left
                      .articles__item-thumb

                    .articles__item-right
                      .articles__item-right__title Упрощённая технология для каждого
                      .articles__item-right__content
                        p Компания Real Plast предлагает услуги по установке современных пластиковых окон, качественных и надежных. Оконные ПВХ-системы защитят ваше жилье от морозов, сквозняков, чрезмерной влажности, пыли и уличного шума.
                        p Наша компания специализируется на изготовлении и монтаже пластиковых конструкций для жилой и коммерческой недвижимо...

                      .articles__item-right__footer
                        date.articles__item-right__date 18, августа 1918
                        a.articles__item-right__read-more(href="javascript:void(0)") Читать статью


                .articles__expand
                  .articles__expand__btn Посмотреть все статьи
      // articles end



      // partners
      section.partners
        .shell
          .container
            .range
              .partners-essence


                //- title
                h2.partners-main-title Наши партнёры


                //- logo
                .partners-logo


                //- content
                .partners-content
                  .partners-content-left
                    .partners__title Электро-генератор GENERAC
                    .partners__desc
                      p Невозможно забыть то время, когда при отключении электричества люди сидели при свечах и керосиновых лампах. Приходилось менять планы и привычный распорядок. Поэтому технический прогресс никогда не стоит на месте и, в подобных случаях, уже нормой стало наличие резервного генератора, обеспечивающего жизнедеятельность различного технического оборудования и наличие необходимого комфорта.
                    .partners__footer
                      a.partners__footer__btn(href="javascript:void(0)") Перейти на сайт
                      .partners__footer__decor
                  .partners-content-right


                //- companies
                .partners-firms
                  //- firm 01
                  .partners-firms__item
                    .partners-firms__item__thumb
                      img(src="img/partners_firm-01.png")
                    .partners-firms__item__title SIEGNIA
                    .partners-firms__item__desc: p Короткий текст про партнёра, что он производит.
                  //- firm 02
                  .partners-firms__item
                    .partners-firms__item__thumb
                      img(src="img/partners_firm-01.png")
                    .partners-firms__item__title ROTO
                    .partners-firms__item__desc: p Короткий текст про партнёра, что он производит.
                  //- firm 03
                  .partners-firms__item
                    .partners-firms__item__thumb
                      img(src="img/partners_firm-01.png")
                    .partners-firms__item__title REHAU
                    .partners-firms__item__desc: p Короткий текст про партнёра, что он производит.
                  //- firm 04
                  .partners-firms__item
                    .partners-firms__item__thumb
                      img(src="img/partners_firm-01.png")
                    .partners-firms__item__title GALVIN
                    .partners-firms__item__desc: p Короткий текст про партнёра, что он производит.
                  //- firm 05
                  .partners-firms__item
                    .partners-firms__item__thumb
                      img(src="img/partners_firm-01.png")
                    .partners-firms__item__title ARTEC
                    .partners-firms__item__desc: p Короткий текст про партнёра, что он производит.
                  //- firm 06
                  .partners-firms__item
                    .partners-firms__item__thumb
                      img(src="img/partners_firm-01.png")
                    .partners-firms__item__title ENWIN
                    .partners-firms__item__desc: p Короткий текст про партнёра, что он производит.

      // partners end

    //- eof main


    //
          ========================================================
                                  FOOTER
          ========================================================

    //- footer

    include ../../002__footer
    footer.footer
      .shell
        .container
          .footer-essence


            //- menus
            .row
              .col-1.col
                .footer-box
                  h4 Окна
                  ul.list-unstyled
                    li: a.footer-box__link Оконные системы
                    li: a.footer-box__link Стеклопакет
                    li: a.footer-box__link Фурнитура
                    li: a.footer-box__link Аксессуары
                    li: a.footer-box__link Энергосбережение
                    li: a.footer-box__link Советы по выбору
                    li: a.footer-box__link Доп опции
              .col-2.col
                .footer-box
                  h4 Остекление
                  ul.list-unstyled
                    li: a.footer-box__link Цех
                    li: a.footer-box__link Коттедж
                    li: a.footer-box__link Квартира
                    li: a.footer-box__link Балкон
                    li: a.footer-box__link Офис
                .footer-box
                  h4 Продукция
                  ul.list-unstyled
                    li: a.footer-box__link Двери
                    li: a.footer-box__link Витражи
                    li: a.footer-box__link Перегородки
                    li: a.footer-box__link Входные группы
                    li: a.footer-box__link Нестандартные конструкции
              .col-3.col
                .footer-box
                  h4 Услуги
                  ul.list-unstyled
                    li: a.footer-box__link Консультация
                    li: a.footer-box__link Замер
                    li: a.footer-box__link Доставка
                    li: a.footer-box__link Монтаж
                    li: a.footer-box__link Гарантия
                .footer-box
                  h4 Цены
                  ul.list-unstyled
                    li: a.footer-box__link Типовые окна
                    li: a.footer-box__link Калькулятор
                    li: a.footer-box__link Акции
                    li: a.footer-box__link Рассрочка под 0%
              .col-4.col
                .footer-box
                  h4 О компании
                  ul.list-unstyled
                    li: a.footer-box__link Наши преимущества
                    li: a.footer-box__link Отдел продаж
                    li: a.footer-box__link Отдел производства
                    li: a.footer-box__link Монтажный отдел
                    li: a.footer-box__link Отдел доставки
                    li: a.footer-box__link Наши сотрудники
                    li: a.footer-box__link Наши сертификаты
                    li: a.footer-box__link Наши партнёры
                    li: a.footer-box__link Наши обьекты
                    li: a.footer-box__link Отзывы
                    li: a.footer-box__link Контакты

              //- right content
              .col-5.footer-contact-infos

                //- callback
                .footer__callback
                  h4.footer__title Гарячая линия:
                  .footer__callback__phone +7 727 228-28-28


                //- socials
                .footer__socials
                  h4.footer__title Мы в социальных сетях:
                  .footer__socials-wrapper
                    .footer__socials__item
                    .footer__socials__item
                    .footer__socials__item


                //- addresses
                .footer__address
                  h4.footer__title Адреса наших отделений:
                  .footer__address__item
                    .footer__address__item__city г. Алматы
                    ul.footer__address__item__streets
                      li 2-й микрорайон, д.5
                      li ул. Сатпаева, 50
                      li ул. Казыбаева, 26
                  .footer__address__item
                    .footer__address__item__city г. Капшагай
                    ul.footer__address__item__streets
                      li 2-й микрорайон, д.13


            //- footer-bottom-row
            .footer-bottom-row
              .footer__copy &copy; Real Plast
              .footer__manufactured Сделано в
                img



    //- modal content
    //- include partials/__popup
    //- eof modal content

    //- eof footer
