extends ../../../conf/002_docwrapper


append 001_config
  - var PageTitle = 'Главная страница'
  //- - var MetaDesc = 'Now we override default configed MetaDesc'
  - var jQuery = true
  - var jQueryUI = true
  - var jQueryEasing = true
  - var bxSlider = true
  - var animateNumber = true
  - var animateCss = true
  - var wowJs = true
  //- - var mainJsSrc = 'js/main.min.js'
  //- - var updateBodyClass = bodyClasses.push('page-index')

  //- - var GoogleFonts = 'Poiret+One'
  //- - var GoogleFonts = GoogleFonts.concat('|Roboto:400,700&subset=cyrillic')
  //- ...

append stylesheets
  //- link( href='css/extrastyles.css', rel='stylesheet' )


  //- eof HEAD appends
  //- –––––––––––––––––––––––––––––––––––––––––––––––––– */


block content
  .wrapper

    //- header
    include ../../001__header
    //- eof header



    //- main
    main.main
      p  text 4

    //- eof main



    //- footer

    include ../../002__footer




    //- modal content
    //- include partials/__popup
    //- eof modal content

    //- eof footer
