extends ../../../conf/002_docwrapper


append 001_config
  - var PageTitle = 'Главная страница'
  //- - var MetaDesc = 'Now we override default configed MetaDesc'
  //- - var jQuery = true
  //- - var jQueryUI = true
  //- - var jQueryEasing = true
  //- - var bxSlider = true
  //- - var animateNumber = true
  //- - var animateCss = true
  //- - var wowJs = true
  //- - var mainJsSrc = 'js/main.min.js'
  - var updateBodyClass = bodyClasses.push('page-index')

  //- - var GoogleFonts = 'Poiret+One'
  //- - var GoogleFonts = GoogleFonts.concat('|Roboto:400,700&subset=cyrillic')
  //- ...

append stylesheets
  //- link( href='css/extrastyles.css', rel='stylesheet' )


  //- eof HEAD appends
  //- –––––––––––––––––––––––––––––––––––––––––––––––––– */


block content
  .wrapper


    //
          ========================================================
                                  HEADER
          ========================================================

    //- header
    include ../../001__header
    //- eof header


    //
          ========================================================
                                  CONTENT
          ========================================================

    //- main
    main.main
      p  it works
      // offcanvas nav side
      .offcanvas-nav-side


        //- top row
        .offcanvas-nav-side__top-row
          .offcanvas-nav-side__close
          .offcanvas-nav-side__logo


        //- content
        .offcanvas-nav-side__content


          //- menu
          ul.offcanvas-nav-side__menu


            //- menu-item
            li.offcanvas-nav-side__menu__item
              a item_title1

                //- sub-menus
                ul.offcanvas-nav-side__sub-menus


                  //- separate sub list
                  li.offcanvas-nav-side__sub-list__title О компании


                    ul.offcanvas-nav-side__sub-list
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text


                  //- separate sub list
                  li.offcanvas-nav-side__sub-list__title О компании


                    ul.offcanvas-nav-side__sub-list
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text


                  //- separate sub list
                  li.offcanvas-nav-side__sub-list__title О компании


                    ul.offcanvas-nav-side__sub-list
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text
                      li.offcanvas-nav-side__sub-list__item
                        a.offcanvas-nav-side__sub-list__link link_text

            li.offcanvas-nav-side__menu__item
              a item_title1
              //- . . . . . . . as above

      // offcanvas nav side end



      // offcanvas right side
      .offcanvas-right-side


        //- foreground
        .offcanvas-right-side__foreground
          ul.offcanvas-right-side__list
            li.offcanvas-right-side__item
              .offcanvas-right-side__phone
            li.offcanvas-right-side__item
              .offcanvas-right-side__search


        //- background
        .offcanvas-right-side__top-row


          //- flags
          .offcanvas-right-side__flags
            .offcanvas-right-side__flags__item
            .offcanvas-right-side__flags__item
            .offcanvas-right-side__flags__item


          //- logo
          .offcanvas-right-side__logo
            .offcanvas-right-side__logo-thumb
            .offcanvas-right-side__logo-desc


          //- form
          form.offcanvas-right-side
            input
            input
            button

      // offcanvas right side end





      // window
      .window
        .shell
          .container
            .range
              .window-wrapper
                .window__sky
                .window__window
                .window__rollet
                .window__tree
      // window end



      // features
      section.features
        .shell
          .container
            .range


              //- title
              h2.features-title


              //- content block
              .features-content


                //- item
                .features__item
                  .features__item__foreground
                    .features__item__icon
                    h3.features__item__title
                    .features__btn
                  .features__item__more


                //- item
                .features__item
                  .features__item__foreground
                    .features__item__icon
                    h3.features__item__title
                    .features__btn
                  .features__item__more


                //- item
                .features__item
                  .features__item__foreground
                    .features__item__icon
                    h3.features__item__title
                    .features__btn
                  .features__item__more


                //- item
                .features__item
                  .features__item__foreground
                    .features__item__icon
                    h3.features__item__title
                    .features__btn
                  .features__item__more


                //- item
                .features__item
                  .features__item__foreground
                    .features__item__icon
                    h3.features__item__title
                    .features__btn
                  .features__item__more


                //- item
                .features__item
                  .features__item__foreground
                    .features__item__icon
                    h3.features__item__title
                    .features__btn
                  .features__item__more


      // features end



      // slider-sales
      .slider-sales
        .shell
          .container
            .range
              .slider-sales-wrapper


                //- item
                .slider-sales__item
                  .slider-sales__item__content
                  .slider-sales__item__stock


                //- controls
                .slider-sales__controls

      // slider-sales end



      // constructor
      section.constructor
        .shell   //- .wrap
          .container
            .range


              //- title
              h2.constructor-title


              //- content
              .constructor-essence

                //- tabs
                .constructor__tabs
                  .constructor__tabs__item
                  .constructor__tabs__item
                  .constructor__tabs__item

                //- info
                .constructor__info

                //- config
                .constructor__config
                  .constructor__config__tabs
                  .constructor__config__content
      // constructor end



      // interrogation
      section.interrogation
        .shell
          .inner
            .container
              .interrogation-essence


                //-title
                h2.interrogation-title
                hr.divider


                //- content
                .interrogation-unit
                  .interrogation-unit-title
                  .interrogation-unit-content
                    form.interrogation-unit-form
                      input
                      input
                      input
                      button
                    .interrogation-unit-preview

      // interrogation end



      // counter
      .counter
        .shell
          .container
            .range
              .counter-essence


                .counter-achievement


                .counter-numbers
                  .counter-numbers__item
                    .counter-numbers__item__num
                    .counter-numbers__item__title
                  .counter-numbers__item
                    .counter-numbers__item__num
                    .counter-numbers__item__title
                  .counter-numbers__item
                    .counter-numbers__item__num
                    .counter-numbers__item__title

      // counter end



      // feedbacks
      section.feedbacks
        .shell
          .container
            .range
              .feedbacks-essence


                //- title
                h2.feedbacks-title
                .divider


                //- content
                  //- slider
                .feedbacks-slider
      // feedbacks end



      // gallery
      .gallery
        .shell
          .container
            .range
              .gallery-essence


                .row-1
                  .col.col-1
                    .gallery__item
                  .col.col-2
                    .gallery__item
                    .gallery__item
                  .col.col-3
                    .gallery__item
                    .gallery__item
                .row-2
                  .col-s
                    .gallery__item
                    .gallery__item
                    .gallery__item

              //- anchor to map
              .gallery__expand
                .gallery__expand-item.divider
                .gallery__expand-item.gallery__expand__btn
                .gallery__expand-item.divider
      // gallery end



      // consultation
      section.consultation
        .shell
          .container
            .range
              .consultation-essence


                h2.consultation-title
                a.consultation-btn

      // consultation end



      // video
      .video
        .shell
          .container
            .range
              .video-essence


                .video__item

              //- expand
              .video__expand
                .video__expand-item.divider
                .video__expand-item.video__expand__btn
                .video__expand-item.divider
      // video end



      // articles
      section.articles
        .shell
          .container
            .range
              .articles-essence


                //- title
                h2.articles-main-title
                .divider

                //- itemS:
                .articles__items-shellper

                  //- item
                  .articles__item
                    .articles__item-left
                      .articles__item-thumb
                    .articles__item-right
                      .articles__item-right__title
                      .articles__item-right__content
                      .articles__item-right__footer
                        .articles__item-right__date
                        a.articles__item-right__read-more

                  //- item
                  .articles__item
                    .articles__item-left
                      .articles__item-thumb
                    .articles__item-right
                      .articles__item-right__title
                      .articles__item-right__content
                      .articles__item-right__footer
                        .articles__item-right__date
                        a.articles__item-right__read-more


                .articles__expand
                  .articles__expand__btn
      // articles end



      // partners
      section.partners
        .shell
          .container
            .range
              .partners-essence


                //- title
                h2.partners-main-title


                //- logo
                .partners-logo


                //- content
                .partners-content
                  .partners-content-left
                    .partners__title
                    .partners__desc
                    .partners__footer
                      .partners__footer__btn
                      .partners__footer__decor
                  .partners-content-right


                //- companies
                .partners-firms
                  .partners-firms__item
                    .partners-firms__item__thumb
                    .partners-firms__item__title
                    .partners-firms__item__desc

      // partners end

    //- eof main


    //
          ========================================================
                                  FOOTER
          ========================================================

    //- footer

    include ../../002__footer
    footer.footer
      .shell
        .container
          .footer-essence


            //- menus
            .row
              .col-1
                .footer-box
                  h5 title
                  ul.list-unstyled
                    li: a
                    li: a
                    li: a
              .col-2
                .footer-box
                  h5 title
                  ul.list-unstyled
                    li: a
                    li: a
                    li: a
                .footer-box
                  h5 title
                  ul.list-unstyled
                    li: a
                    li: a
                    li: a
              .col-3
                .footer-box
                  h5 title
                  ul.list-unstyled
                    li: a
                    li: a
                    li: a
                .footer-box
                  h5 title
                  ul.list-unstyled
                    li: a
                    li: a
                    li: a
              .col-4
                .footer-box
                  h5 title
                  ul.list-unstyled
                    li: a
                    li: a
                    li: a

              //- right content
              .col-5.footer-contact-infos

                //- callback
                .footer__callback
                  h3.footer__title
                  .footer__callback__phone


                //- socials
                .footer__socials
                  h3.footer__title
                  .footer__socials-wrapper
                    .footer__socials__item
                    .footer__socials__item
                    .footer__socials__item


                //- addresses
                .footer__address
                  h3.footer__title
                  .footer__address__item
                    .footer__address__item__city
                    .footer__address__item__streets
                  .footer__address__item
                    .footer__address__item__city
                    .footer__address__item__streets


            //- footer-bottom-row
            .footer-bottom-row
              .footer__copy
              .footer__manufactured



    //- modal content
    //- include partials/__popup
    //- eof modal content

    //- eof footer
