// ternarius

section.ternarius
  .shell
      .container
        .range
          .ternarius-wrapper

            //- title
            .ternarius-title-container
              h2.ternarius-title Преимущества витражей

            .ternarius-content
              .ternarius-container


                .ternarius-content__item
                  img.ternarius__item-thumb(src="img/011_ternarius-01.jpg")
                  .ternarius__item-desc
                    .ternarius__item-title Пафосно
                    .ternarius__item-text Тест текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст


                .ternarius-content__item
                  img.ternarius__item-thumb(src="img/011_ternarius-02.jpg")
                  .ternarius__item-desc
                    .ternarius__item-title Красиво
                    .ternarius__item-text Створка отходит от рамы на 3-5 мм, позволяя впустить достаточное количество свежего воздуха, без сквозняков и резкого переохлаждения помещения.


                .ternarius-content__item
                  img.ternarius__item-thumb(src="img/011_ternarius-03.jpg")
                  .ternarius__item-desc
                    .ternarius__item-title Эксклюзивно
                    .ternarius__item-text Блокиратор ошибочного действия — деталь исключает вероятность случайного открывания окна в режиме поворота и откидывания. Подходит для всех размеров окон.



            //- p.ternarius-subtitle Текст с условиями акции. Уравнение времени, а там действительно могли быть видны звезды, о чем свидетельствует Фукидид выбирает Южный Треугольник - это солнечное затмение предсказал ионянам Фалес Милетский. Угловое расстояние, как бы это ни казалось парадоксальным, выслеживает апогей. Угловое расстояние дает параллакс. Метеорит существенно выслеживает восход . В связи с этим нужно подчеркнуть, что красноватая звездочка перечеркивает перигелий.


// ternarius end
