
.types-content__ribbon
  .types-content__ribbon__text Откосы


//- === scheme ===================================
//- .types-content__scheme
  //- logo
  //- .types-scheme__logo
  //-   .types-scheme__logo-img
  //-   .types-scheme__logo-title Создано в Германии



//- === about ===================================
.types-about

  h1.types-content-title Откосы мюллер незаменимы!

  .types-content__columns-container
    .types-content__substrate.types-content__column-left
      +svg([{'class': 'svg-substrate svg-icon', 'pathid': 'svg_substrate', 'filename':'005_types-substrate'}])
        svg(height='0', width='0', xmlns='http://www.w3.org/2000/svg')

    .types-content__column-right
      ul.types-content-list
        li.types-content-list__item
          | Двойной запас прочности
        li.types-content-list__item
          | Устойчивость к ультрафиолету
        li.types-content-list__item
          | Устойчивость к воздействию химикатами
        li.types-content-list__item
          | Устойчивость к царапинам
        li.types-content-list__item
          | Устойчивость к бытовым загрязнениям
        li.types-content-list__item
          | Термостокойсть до 150 градусов
        li.types-content-list__item
          | Абсолютная влагостойкость
        li.types-content-list__item
          | Без токсичных веществ


  //- img.types-about__img(src="img/005_types-about__img.jpg")
  p.types-about__text
    | Оконный отлив — разновидность защитного профиля, который используется в системе для отвода дождевой или талой воды. Наличие отлива обеспечивает защиту от проникновения влаги в швы оконной конструкции, которая при постоянном скоплении внутри может вызвать медленные, но необратимые разрушения профиля.
    | Поскольку отлив выполняет гидроизоляционные функции, он изготавливается из нержавеющей стали. Компания производит защитный профиль из оцинкованного
    | металла, покрытого полиэстром, который препятствует коррозии.
    | Отлив монтируется в соединении с подставочным профилем под окно — такой способ установки исключает просачивание воды в месте крепления с оконной рамой.
    | <br>По желанию заказчика, водоотливы могут быть изготовлены в различных цветовых вариантах.
a.types-btn-calc Рассчитать систему
.types-thumbnails
  .types-thumbnails__line
    .types-thumbnails__row
      .types-thumbnails__item
        img(src='img/006_types_thumb1.png')
      .types-thumbnails__item
        img(src='img/006_types_thumb2.png')
    .types-thumbnails__row
      .types-thumbnails__item
        img(src='img/006_types_thumb3.png')
      .types-thumbnails__item
        img(src='img/006_types_thumb4.png')
  .types-thumbnails__line
    .types-thumbnails__row
      .types-thumbnails__item
        img(src='img/006_types_thumb5.png')
      .types-thumbnails__item
        img(src='img/006_types_thumb6.png')
    .types-thumbnails__row
      .types-thumbnails__item
        img(src='img/006_types_thumb7.png')
      .types-thumbnails__item
        img(src='img/006_types_thumb8.png')


//- === btn-calc-btm ===================================
.types-calc-btm
  .types-calc-btm__divider
  a.types-btn--bottom Рассчитать окно
