

& .ADD_CLASS_WHATEVER_YOU_WANT_TO_POSITION_IT .animatedSubmitButton{
  // position: relative;
  // width: 200px;
  // height: 100px;
  // outline: 2px dashed dodgerblue;
  // outline-offset: -2px;
}


& .animatedSubmitButton__essence {
  display: inline-block;
  outline:none;
  height: 40px;
  width: 170px;
  background: #42a455;
  border: 2px solid #42a455;
  color:#fff;
  text-shadow:0;
  box-shadow: 2.6px 3.1px 7px rgba(26, 47, 60, 0.21);
  @include font(normal, 400, 18px, 36px, 'Roboto');
  cursor: pointer;
  transition: all 0.25s ease;

  // border: 2px solid crimson;
  &::after {
    content:"Отправить";
  }
}
& .animatedSubmitButton__container {
  width: 170px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -85px;// 170/2
  margin-top: -19px; // 40/2
  text-align: center;
}
& .animatedSubmitButton--onclick {
  width: 40px;
  border-color: #bdbdbd;
  background: transparent;
  background: white;
  border-width:3px;
  border-radius: 40px;
  font-size:0;
  border-left-color:#42a455;
  animation: rotatingASB 2s 0.25s linear infinite;
  box-shadow: none;

  &:after {
    content:"";
  }
  &:hover {
    color:#42a455;
    background: white;
  }
}
.animatedSubmitButton--validate {
  @include font(normal, 400, 18px, 36px, 'Roboto');
  color: #42a455;
  // background: #42a455;
  background: white;
  &:after {
    font-family:'FontAwesome';
    content:"\f00c";
    // content:"nice";
  }
}


@keyframes rotatingASB {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
