// opening
section.opening
  .shell
      .container
        .range
          .opening-wrapper


            //- title
            h2.opening-title Способы открывания
            hr.opening-divider


            //- content
            .opening-content


              .opening-content__row
                .opening-content__col.col-left
                  img.opening-content__img(src="img/003_opening-img-01.png")
                .opening-content__col.col-right
                  .opening-content__col__title Поворотная фурнитура с&nbsp;вертикальным&nbsp;подвесом
                  .opening-content__col__text Поворотная фурнитура с вертикальным подвесом является самым часто используемым видом. В настоящее время производители время от времени добавляют к данному механизму новые элементы, благодаря чему он становятся более функциональным.



              .opening-content__row
                .opening-content__col.col-left
                  img.opening-content__img(src="img/003_opening-img-02.png")
                .opening-content__col.col-right
                  .opening-content__col__title Поворотная фурнитура с&nbsp;горизонтальным&nbsp;подвесом
                  .opening-content__col__text
                    | <span>Поворотная фурнитура с горизонтальным подвесом (среднеподвесная, фрамужная)</span> дает возможность оставлять оконные створки открытыми под любым необходимым углом для проветривания. Створки с легкостью открываются на 180 градусов посредством использования одной лишь ручки. Они сохраняют нужное положение без дополнительных способов фиксации. Наличие съемной ручки и ограничителя откидывания повышают безопасность оконной конструкции. Помимо этого, такая фурнитура будет препятствовать процессу отжатия створки при помощи рычага. Среднеподвесная разновидность с легкостью адаптируется к разным по весу и размерам окнам. Есть также варианты исполнения для окон круглой и эллипсовидной формы. Поворотно-откидная фурнитура позволяет при определенных положениях ручки без труда открывать окна в необходимом направлении с помощью одной руки. Откинутая створка обеспечивает проветривание комнаты без сквозняка. Чтобы быстро проветрить помещение или вымыть окна, створка может быть повернута на угол вплоть до 160 градусов. Установка фурнитуры данного типа возможна на окнах самой разной конфигурации: трапециевидных, арочных и т.д.



// opening end
