// video-slider
section.video-slider
  .shell
    .container
      .range

        //- title
        h2.video-slider-title Наши видео
        hr.divider

        //- content block
        .video-slider-content

          .video-slider-outer
            .video-slider-shell
              ul.video-slider-essence#video-slider
                li.video-slider-item
                  .video-slider__clip-outer
                    .video-slider__clip-container
                      //- .video-slider__clip-text Посмотреть видео
                      iframe.video-slider__clip-essence(src='https://www.youtube.com/embed/piMPTIu1UD8', frameborder='0', allowfullscreen='')
                li.video-slider-item
                  .video-slider__clip-outer
                    .video-slider__clip-container
                      //- .video-slider__clip-text Посмотреть видео
                      iframe.video-slider__clip-essence(src='https://www.youtube.com/embed/piMPTIu1UD8', frameborder='0', allowfullscreen='')

              .video-slider-controls
                .video-slider-controls__item.video-slider-controls__left
                .video-slider-controls__item.video-slider-controls__right
              .video-slider-caption



// video-slider end
