// frames

section.frames
  .shell
      .container
        .range
          .frames-wrapper

            //- title
            .frames-subtitle
              h3.frames-subtitle-text Оконные рамы

            .frames-content

              .frames-item-list
                //- 1
                .frames-item
                  .frames__clip-outer
                    .frames__clip-container
                      //- .video-slider__clip-text Посмотреть видео
                      iframe.frames__clip-essence(src='https://www.youtube.com/embed/piMPTIu1UD8', frameborder='0', allowfullscreen='')
                //- 2
                .frames-item
                  .frames__clip-outer
                    .frames__clip-container
                      //- .video-slider__clip-text Посмотреть видео
                      iframe.frames__clip-essence(src='https://www.youtube.com/embed/piMPTIu1UD8', frameborder='0', allowfullscreen='')
                //- 3
                .frames-item
                  .frames__clip-outer
                    .frames__clip-container
                      //- .video-slider__clip-text Посмотреть видео
                      iframe.frames__clip-essence(src='https://www.youtube.com/embed/piMPTIu1UD8', frameborder='0', allowfullscreen='')
                //- 4
                .frames-item
                  .frames__clip-outer
                    .frames__clip-container
                      //- .video-slider__clip-text Посмотреть видео
                      iframe.frames__clip-essence(src='https://www.youtube.com/embed/piMPTIu1UD8', frameborder='0', allowfullscreen='')
                //- 5
                .frames-item
                  .frames__clip-outer
                    .frames__clip-container
                      //- .video-slider__clip-text Посмотреть видео
                      iframe.frames__clip-essence(src='https://www.youtube.com/embed/piMPTIu1UD8', frameborder='0', allowfullscreen='')
                //- 6
                .frames-item
                  .frames__clip-outer
                    .frames__clip-container
                      //- .video-slider__clip-text Посмотреть видео
                      iframe.frames__clip-essence(src='https://www.youtube.com/embed/piMPTIu1UD8', frameborder='0', allowfullscreen='')


            //- p.frames-subtitle Текст с условиями акции. Уравнение времени, а там действительно могли быть видны звезды, о чем свидетельствует Фукидид выбирает Южный Треугольник - это солнечное затмение предсказал ионянам Фалес Милетский. Угловое расстояние, как бы это ни казалось парадоксальным, выслеживает апогей. Угловое расстояние дает параллакс. Метеорит существенно выслеживает восход . В связи с этим нужно подчеркнуть, что красноватая звездочка перечеркивает перигелий.


// frames end
