// installation

section.installation#installation
  .shell
      .container
        .range
          .installation-wrapper

            //- title
            .installation-subtitle
              h3.installation-subtitle-text Работа по установке

            .installation-content

              .installation-item-list
                //- 1
                .installation-item
                  .installation__clip-outer
                    .installation__clip-container
                      //- .video-slider__clip-text Посмотреть видео
                      iframe.installation__clip-essence(src='https://www.youtube.com/embed/piMPTIu1UD8', frameborder='0', allowfullscreen='')
                //- 2
                .installation-item
                  .installation__clip-outer
                    .installation__clip-container
                      //- .video-slider__clip-text Посмотреть видео
                      iframe.installation__clip-essence(src='https://www.youtube.com/embed/piMPTIu1UD8', frameborder='0', allowfullscreen='')
                //- 3
                .installation-item
                  .installation__clip-outer
                    .installation__clip-container
                      //- .video-slider__clip-text Посмотреть видео
                      iframe.installation__clip-essence(src='https://www.youtube.com/embed/piMPTIu1UD8', frameborder='0', allowfullscreen='')
                //- 4
                .installation-item
                  .installation__clip-outer
                    .installation__clip-container
                      //- .video-slider__clip-text Посмотреть видео
                      iframe.installation__clip-essence(src='https://www.youtube.com/embed/piMPTIu1UD8', frameborder='0', allowfullscreen='')
                //- 5
                .installation-item
                  .installation__clip-outer
                    .installation__clip-container
                      //- .video-slider__clip-text Посмотреть видео
                      iframe.installation__clip-essence(src='https://www.youtube.com/embed/piMPTIu1UD8', frameborder='0', allowfullscreen='')
                //- 6
                .installation-item
                  .installation__clip-outer
                    .installation__clip-container
                      //- .video-slider__clip-text Посмотреть видео
                      iframe.installation__clip-essence(src='https://www.youtube.com/embed/piMPTIu1UD8', frameborder='0', allowfullscreen='')



// installation end
