// objects

section.objects#objects
  .shell
      .container
        .range
          .objects-wrapper


            //- title
            .objects-subtitle
              h3.objects-subtitle-text Наши объекты

            .objects-content

              .objects-item-list
                //- 1
                .objects-item
                  .objects__clip-outer
                    .objects__clip-container
                      //- .video-slider__clip-text Посмотреть видео
                      iframe.objects__clip-essence(src='https://www.youtube.com/embed/piMPTIu1UD8', frameborder='0', allowfullscreen='')
                //- 2
                .objects-item
                  .objects__clip-outer
                    .objects__clip-container
                      //- .video-slider__clip-text Посмотреть видео
                      iframe.objects__clip-essence(src='https://www.youtube.com/embed/piMPTIu1UD8', frameborder='0', allowfullscreen='')
                //- 3
                .objects-item
                  .objects__clip-outer
                    .objects__clip-container
                      //- .video-slider__clip-text Посмотреть видео
                      iframe.objects__clip-essence(src='https://www.youtube.com/embed/piMPTIu1UD8', frameborder='0', allowfullscreen='')
                //- 4
                .objects-item
                  .objects__clip-outer
                    .objects__clip-container
                      //- .video-slider__clip-text Посмотреть видео
                      iframe.objects__clip-essence(src='https://www.youtube.com/embed/piMPTIu1UD8', frameborder='0', allowfullscreen='')


// objects end
