h1 i.html page -- CONTENTS:
ol
  li
    a(href="http://static.ucttest.in.ua/realplast") index
  li
    a(href="http://static.ucttest.in.ua/realplast/windsystems.html") windsystems
  li
    a(href="http://static.ucttest.in.ua/realplast/fitments.html") fitments
  li
    a(href="http://static.ucttest.in.ua/realplast/cottages.html") cottages
  li
    a(href="http://static.ucttest.in.ua/realplast/glassunit.html") glassunit
