// accordion

section.accordion
  .shell
      .container
        .range
          .accordion-wrapper

            ul.accordion-item-list
              li.accordion-item.jsFaqItem
                span.accordion-item-title Я хочу дом построеный из окон, что для этого нужно?
                .accordion-item-content-wrapper
                  .accordion-item-content
                    p.accordion-item-text
                      | Как мы уже знаем, весеннее равноденствие дает далекий азимут. Астероид жизненно перечеркивает экватор. Все известные астероиды имеют прямое движение, при этом солнечное затмение вызывает надир, и в этом вопросе достигнута такая точность расчетов, что, начиная с того дня, как мы видим, указанного Эннием и записанного в "Больших анналах", было вычислено время предшествовавших затмений солнца, начиная с того, которое в квинктильские ноны произошло в царствование Ромула. Многие кометы имеют два хвоста, однако солнечное затмение точно дает космический космический мусор. Космогоническая гипотеза Шмидта позволяет достаточно просто объяснить эту нестыковку, однако угловое расстояние однократно.


              li.accordion-item.jsFaqItem
                span.accordion-item-title Почему окна сами себя не моют?
                .accordion-item-content-wrapper
                  .accordion-item-content
                    img.accordion-content-img(src="img/014_content-img-01.jpg")
                    p.accordion-item-text Формула всегда начинается с внешнего стекла, выходящего на улицу. <br>Сначала указывается толщина применяемого стекла, далее через дефис обозначается ширина дистанционной рамки, затем указывается толщина внутреннего стекла, через дефис - снова ширина дистанционной рамки и последнее значение - толщина последнего стекла, "смотрящего" в интерьер.


              li.accordion-item.jsFaqItem
                span.accordion-item-title Я бы хотел задать вопрос, но стесняюсь
                .accordion-item-content-wrapper
                  .accordion-item-content
                    p.accordion-item-text content


              li.accordion-item.jsFaqItem
                span.accordion-item-title Хотя хpонологи не увеpены, им кажется, что природа гамма-всплексов оценивает математический горизонт - это солнечное затмение предсказал ионянам Фалеса?
                .accordion-item-content-wrapper
                  .accordion-item-content
                    p.accordion-item-text content


              li.accordion-item.jsFaqItem
                span.accordion-item-title Мои пациенты часто разбивают окна, и убегают, что делать?
                .accordion-item-content-wrapper
                  .accordion-item-content
                    p.accordion-item-text content


              li.accordion-item.jsFaqItem
                span.accordion-item-title Как заказать окна из золота?
                .accordion-item-content-wrapper
                  .accordion-item-content
                    p.accordion-item-text content


              li.accordion-item.jsFaqItem
                span.accordion-item-title Куда вы доставляете?
                .accordion-item-content-wrapper
                  .accordion-item-content
                    p.accordion-item-text content
              .accordion-btm-divider
// accordion end
