// welcome
section.welcome
  .shell
    .container
      .range


        //- row 01
        .welcome-row.welcome-row-top

          .welcome-thumb
            .welcome-thumb__img
          .welcome-content
            h2.welcome-title Дополнительные опции
            .welcome-text
              p.welcome-text__item
                | В зависимости от того, насколько шумно у Вас за окном, можно выбрать трех, четырех или пятикамерные модели. Камера — это воздушное пространство внутри профиля. Если Ваш офис или дом расположен в тихом районе, то можно купить трехкамерное пластиковое окно, а если Вы живете рядом с оживленной трассой или там, где часто бывают ветра, то лучше отдать предпочтение 4 или 5 камерным.
              p.welcome-text__item
                | Стеклопакеты бывают 1 и 2 камерные — с двумя или тремя стеклами. Камера может быть наполнена воздухом или газом, чтобы не мешать прозрачности. От количества камер стеклопакета зависит еще и тепло- и звукоизоляция. У нас можно купить пластиковые окна в Алматы высокого качества, созданные в соответствии с европейскими стандартами.

// welcome end
