//- === scheme ===================================
.choose-content__scheme

  .choose-about

    //- h1.choose-content-title Мы доставим в любой уголок нашей страны

    .choose-content__columns-container
      .choose-content__substrate.choose-content__column-left
        +svg([{'class': 'svg-substrate svg-icon', 'pathid': 'svg_substrate', 'filename':'005_advantages_substrate'}])
          svg(height='0', width='0', xmlns='http://www.w3.org/2000/svg')
        a.choose-content__item-thumb(href='javascript:void(0)')
          img.choose-content__item-thumb__img(src='img/021_content-thumb.png')

      .choose-content__column-right
          p.choose-about__text
            | Оконный отлив — разновидность защитного профиля, который используется в системе для отвода дождевой или талой воды. Наличие отлива обеспечивает защиту от проникновения влаги в швы оконной конструкции, которая при постоянном скоплении внутри может вызвать медленные, но необратимые разрушения профиля.
            | <br>Поскольку отлив выполняет гидроизоляционные функции, он изготавливается из нержавеющей стали. Компания производит защитный профиль из .  металла, покрытого полиэстром, который препятствует коррозии. Отлив монтируется в соединении с подставочным профилем под окно — такой способ установки исключает просачивание воды в месте крепления с оконной рамой. По желанию заказчика, водоотливы могут быть изготовлены в различных цветовых вариантах.

    //- img.choose-about__img(src="img/005_choose-about__img.jpg")
    p.choose-about__text
      | Оконный отлив — разновидность защитного профиля, который используется в системе для отвода дождевой или талой воды. Наличие отлива обеспечивает защиту от проникновения влаги в швы оконной конструкции, которая при постоянном скоплении внутри может вызвать медленные, но необратимые разрушения профиля.
      | Поскольку отлив выполняет гидроизоляционные функции, он изготавливается из нержавеющей стали. Компания производит защитный профиль из оцинкованного
      | металла, покрытого полиэстром, который препятствует коррозии.
      | Отлив монтируется в соединении с подставочным профилем под окно — такой способ установки исключает просачивание воды в месте крепления с оконной рамой.
      | <br>По желанию заказчика, водоотливы могут быть изготовлены в различных цветовых вариантах.
  //- a.choose-btn-calc Рассчитать систему
  .choose-thumbnails
    .choose-thumbnails__line
      .choose-thumbnails__row
        .choose-thumbnails__item
          img(src='img/021_choose_thumb1.png')
        .choose-thumbnails__item
          img(src='img/021_choose_thumb2.png')
      .choose-thumbnails__row
        .choose-thumbnails__item
          img(src='img/021_choose_thumb3.png')
        .choose-thumbnails__item
          img(src='img/021_choose_thumb4.png')
    .choose-thumbnails__line
      .choose-thumbnails__row
        .choose-thumbnails__item
          img(src='img/021_choose_thumb5.png')
        .choose-thumbnails__item
          img(src='img/021_choose_thumb6.png')
      .choose-thumbnails__row
        //- .choose-thumbnails__item
          //- img(src='img/021_choose_thumb7.png')
        //- .choose-thumbnails__item
          //- img(src='img/021_choose_thumb8.png')


  //- === btn-calc-btm ===================================
  .choose-calc-btm
    .choose-calc-btm__divider
    a.choose-btn--bottom Заказать
