// actions-general-text

section.actions-general-text
  .shell
      .container
        .range
          .actions-general-text-wrapper

            //- title
            h2.actions-general-text-title акции нашей компании
            p.actions-general-text-subtitle Мы хорошо понимаем в оконной сфере и готовы помочь вам, и ответить на любой вопрос.
            hr.divider

            //- content
            //- .actions-general-text-content
            //-   p.actions-general-text-content__text
            //-     | Компания Real Plast предлагает услуги по установке современных пластиковых окон, качественных и надежных. Оконные ПВХ-системы защитят ваше жилье от морозов, сквозняков, чрезмерной влажности, пыли и уличного шума.
            //-     | Наша компания специализируется на изготовлении и монтаже пластиковых конструкций для жилой и коммерческой недвижимости. Вся предложенная продукция имеет высокое европейское качество. Вниманию наших клиентов представлен широкий выбор профильных систем и фурнитуры, возможно изготовление окна любого типа.
            //-
            //-   p.actions-general-text-content__text
            //-     | Специалисты компании Real Plast ответят на все вопросы и помогут подобрать оптимальный для вас вариант продукции по приемлемой цене. Мы оказываем широкий спектр дополнительных услуг: замер, доставку, монтаж окон, установку подоконников, отливов, откосов. На все виды работ и продукцию предоставляется гарантия.

// actions-general-text end
