// loan-calc

section.loan-calc#loan-calc
  .shell
      .container
        .range
          .loan-calc-wrapper

            //- title
            .loan-calc-title
              h2.loan-calc-title-text Расчет рассрочки
            .loan-calc-subtitle Даже если у вас нет достающей суммы, Вы можете купить окна в рассрочку!
            .divider
            //- eof ^^^ title

            .loan-calc-content

              //- 01 LEFT
              .left

                //- title (default)
                .left-title
                  h2.left-title-text
                    span Банк 1
                //- .divider


                //- content
                .left-content
                  .left-top-container
                    .left-logo
                      img.left-logo-essence(src="img/017_loan-calc-logo-left.png")
                      .left-logo-name <span>Имя</span> <span>банка 1</span>

                    .left-desc
                      p.left-desc-price Мне нужно <span id="firstBankMoneyIsNeeded">120 000</span> тг, на срок <span id="firstBankTermIsNeeded">10</span> месяцев

                    .range-filter
                      .range-filter__left
                        .range-filter__left-title сумма
                        #flat-slider-vertical-1
                      .range-filter__right
                        .range-filter__right-title срок
                        #flat-slider-vertical-2




                      .time-controls

                    .left-result.result
                      .left-result-title.result-title Ежемесячный платёж
                      #firstBankResult.left-result-price.result-price <span>12 000</span> тенге

              //- 02 RIGHT
              .right

                //- title (default)
                .right-title
                  h2.right-title-text
                    span Банк 2
                //- .divider


                //- content
                .right-content
                  .right-top-container
                    .right-logo
                      img.right-logo-essence(src="img/017_loan-calc-logo-right.png")
                      .right-logo-name
                        .right-logo-name-text <span>И</span>мя <span>б</span>анка <span>2</span>

                    .right-desc
                      p.right-desc-price Мне нужно <span id="secondBankMoneyIsNeeded">120 000</span> тг, на срок <span id="secondBankTermIsNeeded">10</span> месяцев

                    .range-filter
                      .range-filter__left
                        .range-filter__left-title сумма
                        #flat-slider-vertical-3
                      .range-filter__right
                        .range-filter__right-title срок
                        #flat-slider-vertical-4

                  .right-result.result
                    .right-result-title.result-title Ежемесячный платёж
                    #secondBankResult.right-result-price.result-price <span>12 000</span> тенге


// loan-calc end
