// process

section.process
  .shell
      .container
        .range
          .process-wrapper

            //- title
            h2.process-title Процесс нашей работы

            //- content
            .process-content
              //- item
              .process__item
                .process__item__img
                .process__item__title вызов замерщика
              //- item
              .process__item
                .process__item__img
                .process__item__title подписание договора
              //- item
              .process__item
                .process__item__img
                .process__item__title довольные клиенты



// process end
