// payment

section.payment
  .shell
      .container
        .range
          .payment-wrapper

            //- title
            h2.payment-title Где удобно платить?
            //- .payment-sub-title Самое современное решение для остекления загородного дома — это, конечно, окна из ПВХ. Преимущества пластиковых окон очевидны: долговечность, презентабельный внешний вид и широкие возможности дизайна.


            //- content
            .payment-content#article1
              .payment-content-column.payment-content-column-left
                .func__item
                  .func__item__icon
                  .func__item__title Через почту россии
                  //- .func__item__text Спектральная картина притягивает центральный надир, тем не менее, уже 4,5 млрд лет расстояние нашей планеты от Солнца практически не меняется. Математический горизонт гасит межпланетный годовой параллакс, тем не менее, Дон Еманс включил в список всего 82-е Великие Кометы. Зоркость наблюдателя вероятна.
                .func__item
                  .func__item__icon
                  .func__item__title межбанковским<br> переводом
                  //- .func__item__text Спектральная картина притягивает центральный надир, тем не менее, уже 4,5 млрд лет расстояние нашей планеты от Солнца практически не меняется. Математический горизонт гасит межпланетный годовой параллакс, тем не менее, Дон Еманс включил в список всего 82-е Великие Кометы. Зоркость наблюдателя вероятна.
                .func__item
                  .func__item__icon
                  .func__item__title через платёжную<br> систему «рапида»
                  //- .func__item__text Спектральная картина притягивает центральный надир, тем не менее, уже 4,5 млрд лет расстояние нашей планеты от Солнца практически не меняется. Математический горизонт гасит межпланетный годовой параллакс, тем не менее, Дон Еманс включил в список всего 82-е Великие Кометы. Зоркость наблюдателя вероятна.


              .payment-content-column.payment-content-column-mid#aside1
                img(src="img/017_payment-img.jpg")

              .payment-content-column.payment-content-column-right
                .func__item
                  .func__item__icon
                  .func__item__title Терминалы<br> (Элекснет, Киви)
                  //- .func__item__text Спектральная картина притягивает центральный надир, тем не менее, уже 4,5 млрд лет расстояние нашей планеты от Солнца практически не меняется. Математический горизонт гасит межпланетный годовой параллакс, тем не менее, Дон Еманс включил в список всего 82-е Великие Кометы. Зоркость наблюдателя вероятна.
                .func__item
                  .func__item__icon
                  .func__item__title В банкоматах банка
                  //- .func__item__text Спектральная картина притягивает центральный надир, тем не менее, уже 4,5 млрд лет расстояние нашей планеты от Солнца практически не меняется. Математический горизонт гасит межпланетный годовой параллакс, тем не менее, Дон Еманс включил в список всего 82-е Великие Кометы. Зоркость наблюдателя вероятна.
                .func__item
                  .func__item__icon
                  .func__item__title в отделениях банка
                  //- .func__item__text Спектральная картина притягивает центральный надир, тем не менее, уже 4,5 млрд лет расстояние нашей планеты от Солнца практически не меняется. Математический горизонт гасит межпланетный годовой параллакс, тем не менее, Дон Еманс включил в список всего 82-е Великие Кометы. Зоркость наблюдателя вероятна.



// payment end
