// calc
section.calc
  .shell
    .container
      .range


        .title Калькулятор окна для нашего менеджера


        .calc
          .units-top-row

            //- 01
            .unit-type
              .unit-type__header
                .unit-type__header-text Тип окна
              .unit-type__items
                //-unit
                .unit-type__item
                  .item-title
                    .item-title-text Одна<br>створка
                  .item-logo
                    img.item-logo-substrate(src="img/022-icon-substrate.svg")
                    img.item-logo-pattern(src="img/022_patt-01.svg")
                //-unit
                .unit-type__item
                  .item-title
                    .item-title-text Две<br>створки
                  .item-logo
                    img.item-logo-substrate(src="img/022-icon-substrate.svg")
                    img.item-logo-pattern(src="img/022_patt-02.svg")
                //-unit
                .unit-type__item
                  .item-title
                    .item-title-text Три<br>створки
                  .item-logo
                    img.item-logo-substrate(src="img/022-icon-substrate.svg")
                    img.item-logo-pattern(src="img/022_patt-03.svg")
                //-unit
                .unit-type__item
                  .item-title
                    .item-title-text Четыре<br>створки
                  .item-logo
                    img.item-logo-substrate(src="img/022-icon-substrate.svg")
                    img.item-logo-pattern(src="img/022_patt-04.svg")
                //-unit
                .unit-type__item
                  .item-title
                    .item-title-text Балкон
                  .item-logo
                    img.item-logo-substrate(src="img/022-icon-substrate.svg")
                    img.item-logo-pattern(src="img/022_patt-05.svg")

            //- 02
            .unit-conf
              .unit-conf__header
                .unit-conf__header-text Конфигурация
              .unit-conf__items
                //-unit
                .unit-conf__item
                  .item-title
                    .item-title-text Цвет
                  .item-logo
                    img.item-logo-substrate(src="img/022-icon-substrate.svg")
                    img.item-logo-pattern(src="img/022_patt-06.svg")
                //-unit
                .unit-conf__item
                  .item-title
                    .item-title-text Профиль
                  .item-logo
                    img.item-logo-substrate(src="img/022-icon-substrate.svg")
                    img.item-logo-pattern(src="img/022_patt-07.svg")
                //-unit
                .unit-conf__item
                  .item-title
                    .item-title-text Стеклопакет
                  .item-logo
                    img.item-logo-substrate(src="img/022-icon-substrate.svg")
                    img.item-logo-pattern(src="img/022_patt-08.svg")
                //-unit
                .unit-conf__item
                  .item-title
                    .item-title-text Напыление
                  .item-logo
                    img.item-logo-substrate(src="img/022-icon-substrate.svg")
                    img.item-logo-pattern(src="img/022_patt-09.svg")
                //-unit
                .unit-conf__item
                  .item-title
                    .item-title-text Аксессуары
                  .item-logo
                    img.item-logo-substrate(src="img/022-icon-substrate.svg")
                    img.item-logo-pattern(src="img/022_patt-10.svg")

            .unit-submit
              .unit-submit-btn Отправить

          .units-content

          .choosed-parameters

          .your-window










// calc end
