// calc
section.calc
  .shell
    .container
      .range


        .calc-title Калькулятор окна для нашего менеджера


        .calc-content
          .units-top-row

            //- 01
            .unit-type
              .unit-type__header
                .unit-type__header-text Тип окна
              .unit-type__items
                //-unit
                .unit-type__item
                  .item-title
                    .item-title-text Одна<br>створка
                  .item-logo
                    img.item-logo-substrate(src="img/022-icon-substrate.svg")
                    img.item-logo-pattern(src="img/022_patt-01.svg")
                //-unit
                .unit-type__item
                  .item-title
                    .item-title-text Две<br>створки
                  .item-logo
                    img.item-logo-substrate(src="img/022-icon-substrate.svg")
                    img.item-logo-pattern(src="img/022_patt-02.svg")
                //-unit
                .unit-type__item
                  .item-title
                    .item-title-text Три<br>створки
                  .item-logo
                    img.item-logo-substrate(src="img/022-icon-substrate.svg")
                    img.item-logo-pattern(src="img/022_patt-03.svg")
                //-unit
                .unit-type__item
                  .item-title
                    .item-title-text Четыре<br>створки
                  .item-logo
                    img.item-logo-substrate(src="img/022-icon-substrate.svg")
                    img.item-logo-pattern(src="img/022_patt-04.svg")
                //-unit
                .unit-type__item
                  .item-title
                    .item-title-text Балкон
                  .item-logo
                    img.item-logo-substrate(src="img/022-icon-substrate.svg")
                    img.item-logo-pattern(src="img/022_patt-05.svg")

            //- 02
            .unit-conf
              .unit-conf__header
                .unit-conf__header-text Конфигурация
              .unit-conf__items
                //-unit
                .unit-conf__item
                  .item-title
                    .item-title-text Цвет
                  .item-logo
                    img.item-logo-substrate(src="img/022-icon-substrate.svg")
                    img.item-logo-pattern(src="img/022_patt-06.svg")
                //-unit
                .unit-conf__item
                  .item-title
                    .item-title-text Профиль
                  .item-logo
                    img.item-logo-substrate(src="img/022-icon-substrate.svg")
                    img.item-logo-pattern(src="img/022_patt-07.svg")
                //-unit
                .unit-conf__item
                  .item-title
                    .item-title-text Стеклопакет
                  .item-logo
                    img.item-logo-substrate(src="img/022-icon-substrate.svg")
                    img.item-logo-pattern(src="img/022_patt-08.svg")
                //-unit
                .unit-conf__item
                  .item-title
                    .item-title-text Напыление
                  .item-logo
                    img.item-logo-substrate(src="img/022-icon-substrate.svg")
                    img.item-logo-pattern(src="img/022_patt-09.svg")
                //-unit
                .unit-conf__item
                  .item-title
                    .item-title-text Аксессуары
                  .item-logo
                    img.item-logo-substrate(src="img/022-icon-substrate.svg")
                    img.item-logo-pattern(src="img/022_patt-10.svg")

            .unit-submit
              .unit-submit-btn Отправить

          .units-content
            .units-content-container
              .units-content-inner
                //- LEFT
                .left
                  img.thumb(src="img/022_i8_content-01.png")
                  .desc
                    .desc-inner
                      .desc-title Однокамерный

                      .desc-content
                        .desc-subtitle Ширина стеклопакета:
                        form.interrogation-unit-form
                          .interrogation-unit-form__items
                            ul
                              li
                                label.unit-form-radio
                                  input(type='radio', name='tree')
                                  span.radio-indicator
                                  .label-text 24 мм
                              li
                                label.unit-form-radio
                                  input(type='radio', name='tree')
                                  span.radio-indicator
                                  .label-text 32 мм
                //- RIGHT
                .right
                  img.thumb(src="img/022_i8_content-02.png")
                  .desc
                    .desc-inner
                      .desc-title Двухкамерный

                      .desc-content
                        .desc-subtitle Ширина стеклопакета:
                        form.interrogation-unit-form
                          .interrogation-unit-form__items
                            ul
                              li
                                label.unit-form-radio
                                  input(type='radio', name='tree')
                                  span.radio-indicator
                                  .label-text 32 мм
                              li
                                label.unit-form-radio
                                  input(type='radio', name='tree')
                                  span.radio-indicator
                                  .label-text 36 мм


              .units-content-btm
                .units-content-btm__divider
                a.units-content-btn Выбрать Cтеклопакет



          .choosed-parameters
            //- LEFT column
            .parameters
              .parameters-inner
                .title Выбранные параметры
                .subtitle Настройте окно выбрав необходимую конфигурацию ниже.
                .parameters-items
                  ul.parameters-items__container
                    li.parameters__item
                      .item-title Профиль
                      .item-desc Двухкамерный, Rehau, суперутеплённый
                    li.parameters__item
                      .item-title Стеклопакет
                      .item-desc Однокамерный 32мм, напыление аргон
                    li.parameters__item
                      .item-title доп. Стеклопакет
                      .item-desc Двухкамерный, Rehau с напылением
                    li.parameters__item
                      .item-title доп. Стеклопакет
                      .item-desc Двухкамерный, Rehau с напылением



            //- RIGHT column
            .window
              .window-inner
                .title Ваш тип окна, и его размеры
                //- .subtitle
                .items-container
                  .item-essence
                    .item-image
                      .item-image-essence
                      .item-image-toggle

                    .item-height
                    .item-width








// calc end
