// choose
.choose__top-row
section.choose
  .shell
    .container
      .range
        .choose-essence



          //- LEFT menu
          //- ---------------------------------------------
          .choose-menu
            h2.choose-menu__title Выберите систему:
            ul.choose-menu__list.js-tabs#menu_tabs

              //- item
              li.choose-menu__item(data-pos="prod-evolution")
                a.choose-menu__link
                  .choose-menu__link__img
                  .choose-menu__link__text ARTEC
                //- sub menu
                ul.choose-menu__sublist
                  li.choose-menu__subitem(data-id="prod-evolution")
                    a.choose-menu__sublink Evolution (3 камеры / 60мм)
                  li.choose-menu__subitem(data-id="prod-effectiv")
                    a.choose-menu__sublink Effectiv  (5 камер / 70мм)


              //- item
              li.choose-menu__item(data-pos="prod-bliz")
                a.choose-menu__link
                  .choose-menu__link__img
                  .choose-menu__link__text REHAU
                //- sub menu
                ul.choose-menu__sublist
                  li.choose-menu__subitem(data-id="prod-bliz")
                    a.choose-menu__sublink Bliz (3 камеры / 60мм)
                  li.choose-menu__subitem(data-id="prod-delight")
                    a.choose-menu__sublink Delight-Design (5 камер / 70мм)
                  li.choose-menu__subitem(data-id="prod-euro3")
                    a.choose-menu__sublink Euro-Design (3 камеры / 60мм)
                  li.choose-menu__subitem(data-id="prod-euro5")
                    a.choose-menu__sublink Euro-Design (5камер / 70мм)
                  li.choose-menu__subitem(data-id="prod-sib")
                    a.choose-menu__sublink Sib Design (3 камеры / 70мм)
                  li.choose-menu__subitem(data-id="prod-brilliant")
                    a.choose-menu__sublink Brilliant (5 камер / 70мм)
                  li.choose-menu__subitem(data-id="prod-geneo")
                    a.choose-menu__sublink Geneo(6 камер / 86мм)
                  li.choose-menu__subitem(data-id="prod-intelio")
                    a.choose-menu__sublink Intelio (6 камер / 86мм)





                //- sub menu
                //- ul.choose-menu__sublist
                //-   li.choose-menu__subitem(data-id="prod-second")
                //-     a.choose-menu__sublink Система Evolution (3&nbsp;камеры&nbsp;/&nbsp;60мм)
                //-   li.choose-menu__subitem.active(data-id="prod-third")
                //-     a.choose-menu__sublink Система Effectiv (5&nbsp;камер&nbsp;/&nbsp;70мм)


              //- item
              li.choose-menu__item(data-pos="prod-galwin")
                a.choose-menu__link
                  .choose-menu__link__img
                  .choose-menu__link__text GALWIN
                  //- sub menu
                  //- ul.choose-menu__sublist
                  //-   li.choose-menu__subitem
                  //-     a.choose-menu__sublink


              //- item
              li.choose-menu__item(data-pos="prod-quadro")
                a.choose-menu__link
                  .choose-menu__link__img
                  .choose-menu__link__text ENWIN
                //- sub menu
                ul.choose-menu__sublist
                  li.choose-menu__subitem(data-id="prod-quadro")
                    a.choose-menu__sublink Quadro  (4 камеры / 60мм)
                  li.choose-menu__subitem(data-id="prod-deceuninck")
                    a.choose-menu__sublink Enwin Deceuninck Favorit Space (6 камер / 76мм)















          //- LEFT menu
          //- ---------------------------------------------
          .choose-menu
            h2.choose-menu__title Выберите систему:
            ul.choose-menu__list.js-tabs#menu_tabs

              //- item
              li.choose-menu__item(data-pos="prod-evolution")
                a.choose-menu__link
                  .choose-menu__link__img
                  .choose-menu__link__text ARTEC
                //- sub menu
                ul.choose-menu__sublist
                  li.choose-menu__subitem(data-id="prod-evolution")
                    a.choose-menu__sublink Evolution (3 камеры / 60мм)
                    .choose-content__wrapper#prod-evolution

                      .choose-content__ribbon(absolute)
                        .choose-content__ribbon__text tab 'evolution'
                      include 03-1_right-cont-inner.pug
                  li.choose-menu__subitem(data-id="prod-effectiv")
                    a.choose-menu__sublink Effectiv  (5 камер / 70мм)
                    .choose-content__wrapper#prod-evolution

                      .choose-content__ribbon(absolute)
                        .choose-content__ribbon__text tab 'evolution'
                      include 03-1_right-cont-inner.pug


              //- item
              li.choose-menu__item(data-pos="prod-bliz")
                a.choose-menu__link
                  .choose-menu__link__img
                  .choose-menu__link__text REHAU
                //- sub menu
                ul.choose-menu__sublist
                  li.choose-menu__subitem(data-id="prod-bliz")
                    a.choose-menu__sublink Bliz (3 камеры / 60мм)
                  li.choose-menu__subitem(data-id="prod-delight")
                    a.choose-menu__sublink Delight-Design (5 камер / 70мм)
                  li.choose-menu__subitem(data-id="prod-euro3")
                    a.choose-menu__sublink Euro-Design (3 камеры / 60мм)
                  li.choose-menu__subitem(data-id="prod-euro5")
                    a.choose-menu__sublink Euro-Design (5камер / 70мм)
                  li.choose-menu__subitem(data-id="prod-sib")
                    a.choose-menu__sublink Sib Design (3 камеры / 70мм)
                  li.choose-menu__subitem(data-id="prod-brilliant")
                    a.choose-menu__sublink Brilliant (5 камер / 70мм)
                  li.choose-menu__subitem(data-id="prod-geneo")
                    a.choose-menu__sublink Geneo(6 камер / 86мм)
                  li.choose-menu__subitem(data-id="prod-intelio")
                    a.choose-menu__sublink Intelio (6 камер / 86мм)





                //- sub menu
                //- ul.choose-menu__sublist
                //-   li.choose-menu__subitem(data-id="prod-second")
                //-     a.choose-menu__sublink Система Evolution (3&nbsp;камеры&nbsp;/&nbsp;60мм)
                //-   li.choose-menu__subitem.active(data-id="prod-third")
                //-     a.choose-menu__sublink Система Effectiv (5&nbsp;камер&nbsp;/&nbsp;70мм)


              //- item
              li.choose-menu__item(data-pos="prod-galwin")
                a.choose-menu__link
                  .choose-menu__link__img
                  .choose-menu__link__text GALWIN
                  //- sub menu
                  //- ul.choose-menu__sublist
                  //-   li.choose-menu__subitem
                  //-     a.choose-menu__sublink


              //- item
              li.choose-menu__item(data-pos="prod-quadro")
                a.choose-menu__link
                  .choose-menu__link__img
                  .choose-menu__link__text ENWIN
                //- sub menu
                ul.choose-menu__sublist
                  li.choose-menu__subitem(data-id="prod-quadro")
                    a.choose-menu__sublink Quadro  (4 камеры / 60мм)
                  li.choose-menu__subitem(data-id="prod-deceuninck")
                    a.choose-menu__sublink Enwin Deceuninck Favorit Space (6 камер / 76мм)






















          //- RIGHT content
          //- ---------------------------------------------
          .choose-content
            .choose-content__wrapper#prod-evolution

              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text tab 'evolution'
              include 03-1_right-cont-inner.pug


            //- RIGHT content
            //- ---------------------------------------------
            .choose-content__wrapper#prod-effectiv
              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text tab 'effectiv'
              include 03-1_right-cont-inner.pug


            //- RIGHT content
            //- ---------------------------------------------
            .choose-content__wrapper#prod-bliz
              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text tab 'bliz'
              include 03-1_right-cont-inner.pug


            //- RIGHT content
            //- ---------------------------------------------
            .choose-content__wrapper#prod-delight
              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text tab 'delight'
              include 03-1_right-cont-inner.pug


            //- RIGHT content
            //- ---------------------------------------------
            .choose-content__wrapper#prod-euro3
              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text tab 'euro3'
              include 03-1_right-cont-inner.pug


            //- RIGHT content
            //- ---------------------------------------------
            .choose-content__wrapper#prod-euro5
              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text tab 'euro5'
              include 03-1_right-cont-inner.pug


            //- RIGHT content
            //- ---------------------------------------------
            .choose-content__wrapper#prod-sib
              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text tab 'sib'
              include 03-1_right-cont-inner.pug


            //- RIGHT content
            //- ---------------------------------------------
            .choose-content__wrapper#prod-brilliant
              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text tab 'brilliant'
              include 03-1_right-cont-inner.pug


            //- RIGHT content
            //- ---------------------------------------------
            .choose-content__wrapper#prod-geneo
              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text tab 'geneo'
              include 03-1_right-cont-inner.pug


            //- RIGHT content
            //- ---------------------------------------------
            .choose-content__wrapper#prod-intelio
              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text tab 'intelio'
              include 03-1_right-cont-inner.pug


            //- RIGHT content
            //- ---------------------------------------------
            .choose-content__wrapper#prod-galwin
              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text tab 'galwin'
              include 03-1_right-cont-inner.pug


            //- RIGHT content
            //- ---------------------------------------------
            .choose-content__wrapper#prod-quadro
              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text tab 'quadro'
              include 03-1_right-cont-inner.pug


            //- RIGHT content
            //- ---------------------------------------------
            .choose-content__wrapper#prod-deceuninck
              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text tab 'deceuninck'
              include 03-1_right-cont-inner.pug







            //- ORIGIN
            .choose-content__wrapper.active#prod-third

              .choose-content__ribbon(absolute)
                .choose-content__ribbon__text Artec Effective

              include 03-1_right-cont-inner



// choose end
