// welcome
section.welcome
  .shell
    .container
      .range
        .welcome-wrapper

          .welcome-thumb
          .welcome-content
            h2.welcome-title
            .welcome-text
              p.welcome-text__item


// welcome end
