// choose
section.choose
  .shell
    .container
      .range
        .choose-essence



          //- LEFT menu
          //- ---------------------------------------------
          .choose-menu
            h2.choose-menu__title
            ul.choose-menu__list

              //- item
              li.choose-menu__item
                a.choose-menu__link
                  //- sub menu
                  ul.choose-menu__sublist
                    li.choose-menu__subitem
                      a.choose-menu__sublink

              //- item
              li.choose-menu__item
                a.choose-menu__link

              //- item
              li.choose-menu__item
                a.choose-menu__link

              //- item
              li.choose-menu__item
                a.choose-menu__link



          //- RIGHT content
          //- ---------------------------------------------
          .choose-content
            .chose-content__wrapper

              .choose-content__ribbon(absolute)

              //- === scheme ===================================
              .choose-content__scheme
                //- logo
                .choose-scheme__logo
                  .choose-scheme__logo-img
                  .choose-scheme__logo-title

                //- details
                .choose-scheme__details
                  .choose-details__left-list
                  .choose-details__center-figure
                  .choose-details__right-list

                .choose-advantages
                  //- item 01
                  .choose-advantages__item
                    .choose-adv__item-img
                    .choose-adv__item-title
                  //- item 02
                  .choose-advantages__item
                    .choose-adv__item-img
                    .choose-adv__item-title
                  //- item 03
                  .choose-advantages__item
                    .choose-adv__item-img
                    .choose-adv__item-title
                  //- item 04
                  .choose-advantages__item
                    .choose-adv__item-img
                    .choose-adv__item-title
                  //- item 05
                  .choose-advantages__item
                    .choose-adv__item-img
                    .choose-adv__item-title

              //- === params ===================================
              .choose-params
                .choose-params__left
                .choose-params__right


              //- === btn ===================================
              a.choose-btn-calc


              //- === description ===================================
              .choose-desc
                p.choose-desc__text

              //- === awards ===================================
              .choose-awards
                .choose-awards__item
                .choose-awards__item
                .choose-awards__item
                .choose-awards__item
                .choose-awards__item

              //- === about ===================================
              .choose-about
                .choose-about__img
                .choose-about__text
                .choose-about__text

              //- === btn-calc-btm ===================================
              .choose-calc-btm
                .divider
                a.choose-btn--bottom


// choose end
