// about

section.about
  .shell
      .container
        .range
          .about-wrapper

            //- title
            h2.about-title   // db; ttu; tac; mbN
            hr.divider

            //- content
            .about-content
              p.about-content__text
              p.about-content__text

// about end
