// process

section.process
  .shell
      .container
        .range
          .process-wrapper

            //- title
            h2.process-title Процесс нашей работы

            //- content
            .process-content
              //- item
              .process__item
                .process__item__img
                .process__item__title замеряем
              //- item
              .process__item
                .process__item__img
                .process__item__title изготовляем
              //- item
              .process__item
                .process__item__img
                .process__item__title устанавливаем
              //- item
              .process__item
                .process__item__img
                .process__item__title гарантируем



// process end
