// process

section.process
  .shell
      .container
        .range
          .process-wrapper

            //- title
            h2.process-title   // db; ttu; tac; mbN
            hr.divider

            //- content
            .process-content
              //- item
              .process__item
                .process__item__img
                .process__item__title
              //- item
              .process__item
                .process__item__img
                .process__item__title
              //- item
              .process__item
                .process__item__img
                .process__item__title
              //- item
              .process__item
                .process__item__img
                .process__item__title



// process end
