// process

section.process
  .shell
      .container
        .range
          .process-wrapper

            //- title
            h2.process-title   // db; ttu; tac; mbN
            hr.divider

            //- content
            .process-content
              p.process-content__text
              p.process-content__text

// process end
