// contact

section.contact
  .shell
      .container
        .range
          .contact-wrapper

            //- title
            h2.contact-title   // db; ttu; tac; mbN

            //- content
            .contact-content
              p.contact__desc
              form.contact__form
                input.contact__form__field--name
                input.contact__form__field--tel
                button.contact__form__btn



// contact end
