// influence

section.influence
  .shell
      .container
        .range
          .influence-wrapper

            //- title
            h2.influence-title что влияет на энергосбережение
            hr.divider

            //- content
            .influence-content
              picture.influence-content__img
                source(media='(min-width: 1160px)', srcset='img/014_influence-img.jpg 1x')
                source(media='(min-width: 768px)', srcset='img/014_influence-img--tablet.jpg 1x')
                img.advantages__img(src='img/014_influence-img--mobile.jpg')



// influence end
