// significance

section.significance
  .shell
      .container
        .range
          .significance-wrapper

            //- title
            .significance-title-container
              h2.significance-title Значение Энергосбрежения


            .significance-content
              .significance-img-container.significance-img-container--left
                picture.significance-img
                  source(media='(min-width: 1160px)', srcset='img/013_significance-img01.png 1x')
                  img(src='img/013_significance-img01--tablet-mobile.png')

              p.significance-text
                | Работает по принципу теплового зеркала. <br>
                | Оптимален для климата средней полосы. <br>
                | Однокамерный. Формула стеклопакета: 32 (4-24-4). Два стекла толщиной по 4 мм, дистанционная рамка 24 мм. <br>
                | Однокамерные стеклопакеты чаще всего применяют для остекления балконов и лоджий, неотапливаемых помещений, а также, в целях экономии, на окна и балконные блоки (окно + балконная дверь), которые выходят на уже застеклённую лоджию или балкон. <br>
                | Двухкамерный. Формула: 40 (4-14-4-14-4). Три стекла по 4 мм, разделенные рамками 14 мм. <br>
                | Двойной стеклопакет является самым распространенным вариантом остекления. Он соответствует всем требованиям ГОСТа по теплопроводности, шумоизоляции и светопропусканию.

              .significance-img-container.significance-img-container--right
                picture.significance-img
                  source(media='(min-width: 1160px)', srcset='img/013_significance-img02.png 1x')
                  img(src='img/013_significance-img02--tablet-mobile.png')

// significance end
