// dark

section.dark
  .shell
      .container
        .range
          .dark-wrapper

            //- title
            .dark-title-container
              h2.dark-title От чего зависит Энергосбережение

            .dark-content
              .dark-container


                .dark-content__item--left
                  picture.dark__item-thumb
                    source(media='(min-width: 1160px)', srcset='img/013_dark-01.png 1x')
                    source(media='(min-width: 768px)', srcset='img/013_dark-01--tablet.png 1x')
                    img.advantages__img(src='img/013_dark-01--mobile.png')



                .dark-content__item--mid
                  p.dark__item-text
                    | Такой подход гарантирует комфортный микроклимат в помещении круглогодично. Визуально такие окна ничем не отличаются от стандартных металлопластиковых конструкций, однако внутри них находится аргон, сдавленный газ, препятствующий выходу тепла за пределы помещения. Стеклопакет с i-стеклом на сегодняшний день являются совершенным теплосберегающим решением. Как создаются i-стекла?

                  p.dark__item-text
                    | Такой подход гарантирует комфортный микроклимат в помещении круглогодично. Визуально такие окна ничем не отличаются от стандартных металлопластиковых конструкций, однако внутри них находится аргон, сдавленный газ, препятствующий выходу тепла за пределы помещения. Стеклопакет с i-стеклом на сегодняшний день являются совершенным теплосберегающим решением. Как создаются i-стекла?



                //- .dark-content__item--right
                //-   img.dark__item-thumb(src="img/011_dark-02.png")



            //- p.dark-subtitle Текст с условиями акции. Уравнение времени, а там действительно могли быть видны звезды, о чем свидетельствует Фукидид выбирает Южный Треугольник - это солнечное затмение предсказал ионянам Фалес Милетский. Угловое расстояние, как бы это ни казалось парадоксальным, выслеживает апогей. Угловое расстояние дает параллакс. Метеорит существенно выслеживает восход . В связи с этим нужно подчеркнуть, что красноватая звездочка перечеркивает перигелий.


// dark end
