// articles
section.articles
  .shell
    .container
      .range
        .articles-essence


          //- title
          h2.articles-main-title Отзывы благодарных покупателей
          hr.divider
          .divider--title

          //- itemS:
          .articles__items-wrapper


            //- 1

            //- item
            .articles__item
              .articles__item-left
                .articles__substrate
                  +svg([{'class': 'svg-substrate svg-icon', 'pathid': 'svg_thumb_bg', 'filename':'articles_thumb_bg'}])
                  //- svg(height='0', width='0', xmlns='http://www.w3.org/2000/svg')
                .articles__substrate--smaller
                  +svg([{'class': 'svg-substrate svg-icon', 'pathid': 'svg_thumb_bg--smaller', 'filename':'articles_thumb_bg--smaller'}])
                  //- svg(height='0', width='0', xmlns='http://www.w3.org/2000/svg')

                a.articles__item-thumb(href="javascript:void(0)")
                  img.articles__item-thumb__img(src='img/010-1_feedback-01.png')


              .articles__item-right
                a.articles__item-right__title(href="javascript:void(0)") Максимиллиан Маргинополус
                a.articles__item-right__content(href="javascript:void(0)")
                  p Пpотопланетное облако колеблет астероидный зенит. Весеннее равноденствие меняет эллиптический керн - это солнечное затмение предсказал ионянам Фалес Милетский. Надир существенно гасит астероид. Широта прочно меняет математический горизонт, хотя галактику в созвездии Дракона можно назвать карликовой.

                  p Широта, а там действительно могли быть видны звезды, о чем свидетельствует Фукидид многопланово перечеркивает дип-скай объект. Космогоническая гипотеза Шмидта позволяет достаточно просто объяснить эту нестыковку, однако комета Хейла-Боппа доступна. Межзвездная матеpия иллюстрирует возмущающий фактор.

                .articles__item-right__footer
                  date.articles__item-right__date 18, августа 1918
                  .divider--footer
                  //- a.articles__item-right__read-more(href="javascript:void(0)") Читать статью


            .articles__video
              .articles__video-essence
                .video__item
                  .video__item-text Обзор одной из лучших наших работ
                  iframe.video__item__essence(src='https://www.youtube.com/embed/piMPTIu1UD8', frameborder='0', allowfullscreen='')

            //- 2

            //- item
            .articles__item
              .articles__item-left
                .articles__substrate
                  +svg([{'class': 'svg-substrate svg-icon', 'pathid': 'svg_thumb_bg', 'filename':'articles_thumb_bg'}])
                .articles__substrate--smaller
                  +svg([{'class': 'svg-substrate svg-icon', 'pathid': 'svg_thumb_bg--smaller', 'filename':'articles_thumb_bg--smaller'}])
                  //- svg(height='0', width='0', xmlns='http://www.w3.org/2000/svg')

                a.articles__item-thumb(href="javascript:void(0)")
                  //- img.articles__item-thumb__img(src='img/010_articles-02.png')
                  picture.articles__item-thumb__img
                    //- source(media='(min-width: 1160px)', srcset='img/013_balcon.png 1x')
                    source(media='(min-width: 768px)', srcset='img/010-1_feedback-02.png 1x')
                    img.balcons-features-thumb__img(src='img/010-1_feedback-02.png')
                    //- img.balcons-features-thumb__img(src='img/010_articles-02--mobile.png')

              .articles__item-right
                a.articles__item-right__title(href="javascript:void(0)") Николай Николаев
                a.articles__item-right__content(href="javascript:void(0)")
                  p Пpотопланетное облако колеблет астероидный зенит. Весеннее равноденствие меняет эллиптический керн - это солнечное затмение предсказал ионянам Фалес Милетский. Надир существенно гасит астероид. Широта прочно меняет математический горизонт, хотя галактику в созвездии Дракона можно назвать карликовой.

                  p Широта, а там действительно могли быть видны звезды, о чем свидетельствует Фукидид многопланово перечеркивает дип-скай объект. Космогоническая гипотеза Шмидта позволяет достаточно просто объяснить эту нестыковку, однако комета Хейла-Боппа доступна. Межзвездная матеpия иллюстрирует возмущающий фактор.

                  p Зенитное часовое число меняет первоначальный перигей, Плутон не входит в эту классификацию. Комета возможна. По космогонической гипотезе Джеймса Джинса, прямое восхождение недоступно выбирает керн, таким образом, часовой пробег каждой точки поверхности на экваторе равен 1666км. Дип-скай объект, оценивая блеск освещенного металического шарика, неизменяем.

                .articles__item-right__footer
                  date.articles__item-right__date 18, августа 1918
                  .divider--footer
                  //- a.articles__item-right__read-more(href="javascript:void(0)") Читать статью


            //- 3

            //- item
            .articles__item
              .articles__item-left
                .articles__substrate
                  +svg([{'class': 'svg-substrate svg-icon', 'pathid': 'svg_thumb_bg', 'filename':'articles_thumb_bg'}])
                .articles__substrate--smaller
                  +svg([{'class': 'svg-substrate svg-icon', 'pathid': 'svg_thumb_bg--smaller', 'filename':'articles_thumb_bg--smaller'}])

                a.articles__item-thumb(href="javascript:void(0)")
                  //- img.articles__item-thumb__img(src='img/010_articles-03.png')
                  picture.articles__item-thumb__img
                    //- source(media='(min-width: 1160px)', srcset='img/013_balcon.png 1x')
                    source(media='(min-width: 768px)', srcset='img/010-1_feedback-03.png 1x')
                    img.balcons-features-thumb__img(src='img/010-1_feedback-03.png')

              .articles__item-right
                a.articles__item-right__title(href="javascript:void(0)") Зина Радышева
                a.articles__item-right__content(href="javascript:void(0)")
                  p В отличие от давно известных астрономам планет земной группы, исполинская звездная спираль с поперечником в 50 кпк наблюдаема. Межзвездная матеpия недоступно притягивает дип-скай объект, однако большинство спутников движутся вокруг своих планет в ту же сторону, в какую вращаются планеты. Расстояния планет от Солнца возрастают приблизительно в геометрической прогрессии (правило Тициуса — Боде): г = 0,4 + 0,3 · 2n (а.е.), где эклиптика недоступно колеблет непреложный Юпитер. Различное расположение жизненно дает первоначальный метеорит.

                .articles__item-right__footer
                  date.articles__item-right__date 18, августа 1918
                  .divider--footer
                  //- a.articles__item-right__read-more(href="javascript:void(0)") Читать статью





          .paginator
            .counter
            button.paginate.left
              i
              i
            button.paginate.right
              i
              i



          //- .articles__expand
          //-   a.articles__expand__btn(href="javascript:void(0)") Посмотреть все статьи
// articles end
