// advantages

section.advantages
  .shell
      .container
        .range
          .advantages-wrapper

            //- title
            h2.advantages-title Преимущества остекления
            .advantages-sub-title Самое современное решение для остекления загородного дома — это, конечно, окна из ПВХ. Преимущества пластиковых окон очевидны: долговечность, презентабельный внешний вид и широкие возможности дизайна.


            //- content
            .advantages-content
              .advantages-content-column.advantages-content-column-left
                .func__item
                  .func__item__icon
                  .func__item__title Защищённость
                  .func__item__text Спектральная картина притягивает центральный надир, тем не менее, уже 4,5 млрд лет расстояние нашей планеты от Солнца практически не меняется. Математический горизонт гасит межпланетный годовой параллакс, тем не менее, Дон Еманс включил в список всего 82-е Великие Кометы. Зоркость наблюдателя вероятна.
                .func__item
                  .func__item__icon
                  .func__item__title Доступность
                  .func__item__text Спектральная картина притягивает центральный надир, тем не менее, уже 4,5 млрд лет расстояние нашей планеты от Солнца практически не меняется. Математический горизонт гасит межпланетный годовой параллакс, тем не менее, Дон Еманс включил в список всего 82-е Великие Кометы. Зоркость наблюдателя вероятна.


              .advantages-content-column.advantages-content-column-mid
                img(src="img/004_advantages-img.jpg")

              .advantages-content-column.advantages-content-column-right
                .func__item
                  .func__item__icon
                  .func__item__title Энергосбережение
                  .func__item__text Спектральная картина притягивает центральный надир, тем не менее, уже 4,5 млрд лет расстояние нашей планеты от Солнца практически не меняется. Математический горизонт гасит межпланетный годовой параллакс, тем не менее, Дон Еманс включил в список всего 82-е Великие Кометы. Зоркость наблюдателя вероятна.
                .func__item
                  .func__item__icon
                  .func__item__title Индивидуальность
                  .func__item__text Спектральная картина притягивает центральный надир, тем не менее, уже 4,5 млрд лет расстояние нашей планеты от Солнца практически не меняется. Математический горизонт гасит межпланетный годовой параллакс, тем не менее, Дон Еманс включил в список всего 82-е Великие Кометы. Зоркость наблюдателя вероятна.



// advantages end
