extends ../../../conf/002_docwrapper


append 001_config
  - var PageTitle = 'Главная страница'
  //- - var MetaDesc = 'Now we override default configed MetaDesc'
  //- - var jQuery = true
  //- - var jQueryUI = true
  //- - var jQueryEasing = true
  - var bxSlider = true
  //- - var animateNumber = true
  //- - var animateCss = true
  //- - var wowJs = true
  //- - var mainJsSrc = 'js/main.min.js'

  //- smoothDivScroll
  - var jQuery = true
  - var jQueryUI = true
  - var jQueryMousewheel = true
  - var jQkinetic = true
  - var jQsmoothDivScroll = true
  //- eof smoothDivScroll

  - var waterwheelCarousel = true
  //- counter:
  - var animateNumber = true
  - var animateCss = true
  - var wowJs = true

  //- countdown circles
  - var TimeCircles = true

  - var updateBodyClass = bodyClasses.push('page-index');

  - var jQueryFancybox = true

  //- - var GoogleFonts = 'Poiret+One'
  //- - var GoogleFonts = GoogleFonts.concat('|Roboto:400,700&subset=cyrillic')
  //- ...

append stylesheets
  //- link( href='css/extrastyles.css', rel='stylesheet' )


  //- eof HEAD appends
  //- –––––––––––––––––––––––––––––––––––––––––––––––––– */


block content
  .wrapper


    //
          ========================================================
                                  HEADER
          ========================================================

    //- header
    include ../../global-modules/001__header
    //- eof header


    include ../../global-modules/003a__side-nav


    include ../../global-modules/003b__side-right



    //
          ========================================================
                                  CONTENT
          ========================================================

    //- main
    main.main


      include 03_window



      include 04_features

      include 05_slider-sales

      include 06_constructor



      include 07_interrogation

      include 08_counter

      include 09_feedbacks



      include 10_gallery

      include 11_consultation

      include 12_video



      include 13_articles

      include 14_partners

      include 15_firms
      //- eof main





    //
          ========================================================
                                  FOOTER
          ========================================================

    //- footer

    include ../../global-modules/002__footer




    //- modal content
    //- include partials/__popup
    //- eof modal content

    //- eof footer
