//- info
.units-content-01
  .constructor__info
    .constructor__info-left
      img(src="img/constructor-window.png")
    .constructor__info-right

      .ui.small.form.segment.tabs-region
        #tabs
          .ui.menu.tabsName
            a#tAdd.item.tabx
              i.add.square.icon
      .ui.dimmer.modals.page
        .ui.small.modal
          .header
            | Closing..
          .content
            p ¿realy wanna delete it?
          .actions
            .ui.positive.right.labeled.icon.button
              | Yes
              i.checkmark.icon
            .ui.negative.button.right.labeled.icon.button
              | No
              i.close.icon





  .constructor__units-row
    .units-row__list
      //-unit 01
      .units-row__item.finished
        .units-item__title
          .units-item__title-text Профиль
        .units-item__logo
          img.units-item__logo-substrate(src="img/001-icon-substrate.svg")
          img.units-item__logo-substrate--shadowed(src="img/001-icon-substrate.svg")
          img.units-item__logo-pattern(src="img/001_patt-01.svg")
      //-unit 02
      .units-row__item.hovered
        .units-item__title
          .units-item__title-text Стеклопакет
        .units-item__logo
          img.units-item__logo-substrate(src="img/001-icon-substrate.svg")
          img.units-item__logo-substrate--shadowed(src="img/001-icon-substrate.svg")
          img.units-item__logo-pattern(src="img/001_patt-02.svg")
      //-unit 03
      .units-row__item
        .units-item__title
          .units-item__title-text доп. Стеклопакет
        .units-item__logo
          img.units-item__logo-substrate(src="img/001-icon-substrate.svg")
          img.units-item__logo-substrate--shadowed(src="img/001-icon-substrate.svg")
          img.units-item__logo-pattern(src="img/001_patt-03.svg")
      //-unit 04
      .units-row__item
        .units-item__title
          .units-item__title-text Фурнитура
        .units-item__logo
          img.units-item__logo-substrate(src="img/001-icon-substrate.svg")
          img.units-item__logo-substrate--shadowed(src="img/001-icon-substrate.svg")
          img.units-item__logo-pattern(src="img/001_patt-04.svg")
      //-unit 05
      .units-row__item
        .units-item__title
          .units-item__title-text доп. Фурнитура
        .units-item__logo
          img.units-item__logo-substrate(src="img/001-icon-substrate.svg")
          img.units-item__logo-substrate--shadowed(src="img/001-icon-substrate.svg")
          img.units-item__logo-pattern(src="img/001_patt-05.svg")
      //-unit 06
      .units-row__item
        .units-item__title
          .units-item__title-text Откосы
        .units-item__logo
          img.units-item__logo-substrate(src="img/001-icon-substrate.svg")
          img.units-item__logo-substrate--shadowed(src="img/001-icon-substrate.svg")
          img.units-item__logo-pattern(src="img/001_patt-06.svg")
      //-unit 07
      .units-row__item
        .units-item__title
          .units-item__title-text Подоконник
        .units-item__logo
          img.units-item__logo-substrate(src="img/001-icon-substrate.svg")
          img.units-item__logo-substrate--shadowed(src="img/001-icon-substrate.svg")
          img.units-item__logo-pattern(src="img/001_patt-07.svg")
      //-unit 08
      .units-row__item
        .units-item__title
          .units-item__title-text Москитная сетка
        .units-item__logo
          img.units-item__logo-substrate(src="img/001-icon-substrate.svg")
          img.units-item__logo-substrate--shadowed(src="img/001-icon-substrate.svg")
          img.units-item__logo-pattern(src="img/001_patt-08.svg")
      //-unit 09
      .units-row__item
        .units-item__title
          .units-item__title-text Рассечка
        .units-item__logo
          img.units-item__logo-substrate(src="img/001-icon-substrate.svg")
          img.units-item__logo-substrate--shadowed(src="img/001-icon-substrate.svg")
          img.units-item__logo-pattern(src="img/001_patt-09.svg")
      //-unit 10
      .units-row__item
        .units-item__title
          .units-item__title-text Аксессуары
        .units-item__logo
          img.units-item__logo-substrate(src="img/001-icon-substrate.svg")
          img.units-item__logo-substrate--shadowed(src="img/001-icon-substrate.svg")
          img.units-item__logo-pattern(src="img/001_patt-10.svg")
    //- eof ^^^ .units-row__list
    a.config__btn-ahead Далее


  //- tabs-content
  .constructor__units-tab-content

      //- 1
      .tab-content__item
        .units-content
          .units-content-container
            .units-content-inner
              //- LEFT
              .left
                img.thumb(src="img/022_i8_content-01.png")
                .desc
                  .desc-inner
                    .desc-title Однокамерный

                    .desc-content
                      .desc-subtitle Ширина стеклопакета:
                      form.interrogation-unit-form
                        .interrogation-unit-form__items
                          ul
                            li
                              label.unit-form-radio
                                input(type='radio', name='tree')
                                span.radio-indicator
                                .label-text 24 мм
                            li
                              label.unit-form-radio
                                input(type='radio', name='tree' checked)
                                span.radio-indicator
                                .label-text 32 мм
              //- RIGHT
              .right
                img.thumb(src="img/022_i8_content-02.png")
                .desc
                  .desc-inner
                    .desc-title Двухкамерный

                    .desc-content
                      .desc-subtitle Ширина стеклопакета:
                      form.interrogation-unit-form
                        .interrogation-unit-form__items
                          ul
                            li
                              label.unit-form-radio
                                input(type='radio', name='tree')
                                span.radio-indicator
                                .label-text 32 мм
                            li
                              label.unit-form-radio
                                input(type='radio', name='tree')
                                span.radio-indicator
                                .label-text 36 мм


            .units-content-btm
              .units-content-btm__divider
              a.units-content-btn Выбрать Cтеклопакет

      //- 2
      .tab-content__item


      //- 3
      .tab-content__item


      //- 4
      .tab-content__item


      //- 5
      .tab-content__item


      //- 6
      .tab-content__item


      //- 7
      .tab-content__item


      //- 8
      .tab-content__item


      //- 9
      .tab-content__item


      //- 10
      .tab-content__item
