//- info
.units-content-02
  .info
    .info-left
      img.info-left__thumb(src="img/001_units-content-02__thumb.png")
      .info-left-text__container
        .info-left-text__title Молодцы!
        .info-left-text__subtitle
          span Вы успешно настроили комплектацию
          span Осталось выбрать тип окна
        a.info-left-text__back(href="javascript:void(0)") Вернуться к конфигурации
    .info-right

      .ui.small.form.segment.tabs-region
        #tabs02
          .ui.menu.tabsName
            a#tAdd02.item.tabx
              i.add.square.icon
      .ui.dimmer.modals.page
        .ui.small.modal
          .header
            | Closing..
          .content
            p ¿realy wanna delete it?
          .actions
            .ui.positive.right.labeled.icon.button
              | Yes
              i.checkmark.icon
            .ui.negative.button.right.labeled.icon.button
              | No
              i.close.icon






  .tabs-row
    .units-row__list
      //-unit 01
      .units-row__item.finished
        .units-item__title
          .units-item__title-text Одностворчатое
        .units-item__logo
          img.units-item__logo-substrate(src="img/001-icon-substrate.svg")
          img.units-item__logo-substrate--shadowed(src="img/001-icon-substrate.svg")
          img.units-item__logo-pattern(src="img/001_tab2_patt-01.svg")
      //-unit 02
      .units-row__item.hovered
        .units-item__title
          .units-item__title-text Двустворчатое
        .units-item__logo
          img.units-item__logo-substrate(src="img/001-icon-substrate.svg")
          img.units-item__logo-substrate--shadowed(src="img/001-icon-substrate.svg")
          img.units-item__logo-pattern(src="img/001_tab2_patt-02.svg")
      //-unit 03
      .units-row__item
        .units-item__title
          .units-item__title-text Трехстворчатое
        .units-item__logo
          img.units-item__logo-substrate(src="img/001-icon-substrate.svg")
          img.units-item__logo-substrate--shadowed(src="img/001-icon-substrate.svg")
          img.units-item__logo-pattern(src="img/001_tab2_patt-03.svg")
      //-unit 04
      .units-row__item
        .units-item__title
          .units-item__title-text Четырёхстворчатое
        .units-item__logo
          img.units-item__logo-substrate(src="img/001-icon-substrate.svg")
          img.units-item__logo-substrate--shadowed(src="img/001-icon-substrate.svg")
          img.units-item__logo-pattern(src="img/001_tab2_patt-04.svg")
      //-unit 05
      .units-row__item
        .units-item__title
          .units-item__title-text Балконный блок
        .units-item__logo
          img.units-item__logo-substrate(src="img/001-icon-substrate.svg")
          img.units-item__logo-substrate--shadowed(src="img/001-icon-substrate.svg")
          img.units-item__logo-pattern(src="img/001_tab2_patt-05.svg")

    //- eof ^^^ .units-row__list
    a.config__btn-ahead Далее


  //- tabs-content
  .constructor__units-tab-content

      //- 1
      .tab-content__item
        .units-content
          .units-content-container
            .units-content-inner

              .units-content-list
                .units-content-list__item
                  .units-content-list__item-thumb
                  .units-content-list__item-check
                    label.unit-form-checkbox
                      input(type='checkbox', name='tree')
                      span.checkbox-indicator
                      .label-text Глухое

                .units-content-list__item
                  .units-content-list__item-thumb
                  .units-content-list__item-check
                    label.unit-form-checkbox
                      input(type='checkbox', name='tree')
                      span.checkbox-indicator
                      .label-text С простым<br> открыванием
                .units-content-list__item
                  .units-content-list__item-thumb
                  .units-content-list__item-check
                    label.unit-form-checkbox
                      input(type='checkbox', name='tree')
                      span.checkbox-indicator
                      .label-text Со сложным<br> открыванием
                .units-content-list__item
                  .units-content-list__item-thumb
                  .units-content-list__item-check
                    label.unit-form-checkbox
                      input(type='checkbox', name='tree')
                      span.checkbox-indicator
                      .label-text С простым и сложным<br> открыванием



            .units-content-btm
              .units-content-btm__divider
              a.units-content-btn Выбрать Тип окна

      //- 2
      .tab-content__item


      //- 3
      .tab-content__item


      //- 4
      .tab-content__item


      //- 5
      .tab-content__item


      //- 6
      .tab-content__item


      //- 7
      .tab-content__item


      //- 8
      .tab-content__item


      //- 9
      .tab-content__item


      //- 10
      .tab-content__item
