//- info
.units-content-03
  .info
    .info-left
      img.info-left__thumb(src="img/001_units-content-02__thumb.png")
      .info-left-text__container
        .info-left-text__title Молодцы!
        .info-left-text__subtitle
          span Вы успешно настроили комплектацию
          span Осталось выбрать тип окна
        a.info-left-text__back(href="javascript:void(0)") Вернуться к конфигурации
    .info-right
      .info-right-window
        .info-right-title Поздравляем, осталось немного
        .info-right-content
          //- Content:
          .info-right-ok
            neko.btn-container
              neko#button
          form.info-right-user-data
            .info-right-user-data__title Для отправки на просчет, пожалуйста, укажите ваши контактные данные
            input.info-right-user-data__name(type="text" placeholder="Имя")
            input.info-right-user-data__phone(type="text" placeholder="Телефон")
            .info-right-user-data__btn.btn-container
              #button


  //- tabs-content
  .constructor__units-tab-content

      //- 1
      .tab-content__item
        .units-content
          .units-content-container
            .units-content-inner

              .title Конфигурация окна
              .parameters-items
                ul.parameters-items__container
                  li.parameters__item
                    .item-title Профиль
                    .item-desc Двухкамерный, Rehau, суперутеплённый
                  li.parameters__item
                    .item-title Стеклопакет
                    .item-desc Однокамерный 32мм, напыление аргон
                  li.parameters__item
                    .item-title доп. Стеклопакет
                    .item-desc Двухкамерный, Rehau с напылением
                  li.parameters__item
                    .item-title Фурнитура
                    .item-desc Однокамерный 32мм, напыление аргон
                  li.parameters__item
                    .item-title доп. Фурнитура
                    .item-desc Однокамерный 32мм, напыление аргон
                  li.parameters__item
                    .item-title Откосы
                    .item-desc Прямолинейны, RECO
                  li.parameters__item
                    .item-title Подоконник
                    .item-desc Волнистый, деревянный SOFTECH
                  li.parameters__item
                    .item-title Стеклопакет
                    .item-desc Однокамерный 32мм, напыление аргон
                  li.parameters__item
                    .item-title доп. Стеклопакет
                    .item-desc Двухкамерный, Rehau с напылением
                  li.parameters__item
                    .item-title доп. Стеклопакет
                    .item-desc Двухкамерный, Rehau с напылением


              .units-content-btm
                .units-content-btm__divider
                a.units-content-btn Вернуться к настройке

            .units-content-inner-bottom

              .title Тип окна

              .units-content-list
                //- item
                .inner-bottom-list__item
                  img.inner-bottom-list__item-thumb(src="../img/001_tab3_item-thumb-01.png")

                  .inner-bottom-list__item-desc
                    .item-desc__number <span>1</span> шт.
                    .item-desc__desc С простым и сложным открыванием
                    .item-desc__dimens
                      .item-desc__height
                        .item-desc__title Высота
                        .item-desc__num <span>300</span> см.
                      .item-desc__width
                        .item-desc__title Ширина
                        .item-desc__num <span>150</span> см.
                //- item
                .inner-bottom-list__item
                  img.inner-bottom-list__item-thumb(src="../img/001_tab3_item-thumb-02.png")

                  .inner-bottom-list__item-desc
                    .item-desc__number <span>10</span> шт.
                    .item-desc__desc С простым и сложным открыванием
                    .item-desc__dimens
                      .item-desc__height
                        .item-desc__title Высота
                        .item-desc__num <span>300</span> см.
                      .item-desc__width
                        .item-desc__title Ширина
                        .item-desc__num <span>150</span> см.



              .units-content-btm
                .units-content-btm__divider
                a.units-content-btn Вернуться к настройке
