// constructor
section.constructor
  .shell
    .container
      .range


        //- title
        h2.constructor-title скомпонуйте своё будущее окно

        //- .wasteland
        //-
        //-
        //-   .step-nav
        //-     .shell-wide
        //-
        //-     //- step
        //-     .step.first
        //-       .radial-progress(data-be='0').opened
        //-         .fill-container
        //-           .mask.full
        //-           .mask.empty
        //-           .shadow
        //-         p Настройка комплектации
        //-
        //-     //- step
        //-     .step.second
        //-       .num 1
        //-       .line-mustache
        //-         .progress
        //-           .lines
        //-             .lines-item
        //-             .lines-item
        //-             .lines-item
        //-       .radial-progress(data-be='1')
        //-         .fill-container
        //-           .mask.full
        //-           .mask.empty
        //-           .shadow
        //-         p Выбор типа окна
        //-
        //-     //- step
        //-     .step.third
        //-       .num 2
        //-       .line-mustache
        //-         .progress
        //-           .lines
        //-             .lines-item
        //-             .lines-item
        //-             .lines-item
        //-       .radial-progress(data-be='2')
        //-         .fill-container
        //-           .mask.full
        //-           .mask.empty
        //-           .shadow
        //-         p Отправка на просчёт
        //-       //- num arr
        //-       .num-arr
        //-         .arr
        //-         .line-mustache
        //-           .progress
        //-             .lines
        //-               .lines-item
        //-               .lines-item
        //-               .lines-item



        .kazldur
          //- ITEM PROTO

          //- nav
          .step-nav
            .shell-wide
              //- step
              .step.first
                .radial-progress(data-index='0').opened
                  .circle
                    //- .mask.full
                    //-   .fill
                    //- .mask.half
                    //-   .fill
                    //-   .fill.fix
                    //- .shadow
                  .inset
                    .inner-circle
                .div
                p Настройка комплектации

              //- step
              .step.second
                .num 1
                .line-mustache
                  .progress
                    .lines
                      .lines-item.regular
                      .lines-item.mid
                      .lines-item.regular
                .radial-progress(data-index='1').inactive
                  .circle
                    //- .mask.full
                    //-   .fill
                    //- .mask.half
                    //-   .fill
                    //-   .fill.fix
                    //- .shadow
                  .inset
                    .inner-circle
                .div
                p Выбор типа окна
              //- step
              .step.third
                .num 2
                .line-mustache
                  .progress
                    .lines
                      .lines-item.regular
                      .lines-item.mid
                      .lines-item.regular
                .radial-progress(data-index='2').inactive
                  .circle
                    //- .mask.full
                    //-   .fill
                    //- .mask.half
                    //-   .fill
                    //-   .fill.fix
                    //- .shadow
                  .inset
                    .inner-circle
                .div
                p Отправка на просчёт
              .num-arr
                .arr
                .line-mustache
                  .progress
                    .lines
                      .lines-item.regular
                      .lines-item.mid
                      .lines-item.regular
          //- copy holder

            //-   //- eof ITEM PROTO
            //- .kazldur
            //-   .step-nav
            //-     .step.first
            //-       .radial-progress.active(data-index='0')
            //-         .circle
            //-           .mask.full
            //-             .fill
            //-           .mask.half
            //-             .fill
            //-             .fill.fix
            //-           .shadow
            //-         .inset
            //-           .inner-circle
            //-       p 1
            //-     .step
            //-       .line
            //-         .progress
            //-       .radial-progress(data-index='1')
            //-         .circle
            //-           .mask.full
            //-             .fill
            //-           .mask.half
            //-             .fill
            //-             .fill.fix
            //-           .shadow
            //-         .inset
            //-           .inner-circle
            //-       p 2
            //-     .step
            //-       .line
            //-         .progress
            //-       .radial-progress(data-index='2')
            //-         .circle
            //-           .mask.full
            //-             .fill
            //-           .mask.half
            //-             .fill
            //-             .fill.fix
            //-           .shadow
            //-         .inset
            //-           .inner-circle
            //-       p 3




          .copy-holder
            .step-1.active.step-tab
              include 06.1_tab01.pug

            .step-2.step-tab
              include 06.2_tab02.pug

            .step-3.step-tab
              include 06.3_tab03.pug









// constructor end
