// constructor
section.constructor
  .shell
    .container
      .range


        //- title
        h2.constructor-title скомпонуйте своё будущее окно
        .kazldur
          //- ITEM PROTO

          //- nav
          .step-nav
            .shell-wide
              //- step
              .step.first
                .radial-progress(data-index='0').opened
                  .circle
                    .mask.full
                      .fill
                    .mask.half
                      .fill
                      .fill.fix
                    .shadow
                  .inset
                    .inner-circle
                .div
                p Настройка комплектации

              //- step
              .step.second
                .num 1
                .line-mustache
                  .progress
                    .lines
                      .lines-item
                      .lines-item
                      .lines-item
                .radial-progress(data-index='1').inactive
                  .circle
                    .mask.full
                      .fill
                    .mask.half
                      .fill
                      .fill.fix
                    .shadow
                  .inset
                    .inner-circle
                .div
                p Выбор типа окна
              //- step
              .step.third
                .num 2
                .line-mustache
                  .progress
                    .lines
                      .lines-item
                      .lines-item
                      .lines-item
                .radial-progress(data-index='2').inactive
                  .circle
                    .mask.full
                      .fill
                    .mask.half
                      .fill
                      .fill.fix
                    .shadow
                  .inset
                    .inner-circle
                .div
                p Отправка на просчёт
              .num-arr
                .arr
                .line-mustache
                  .progress
                    .lines
                      .lines-item
                      .lines-item
                      .lines-item
          //- copy holder

            //-   //- eof ITEM PROTO
            //- .kazldur
            //-   .step-nav
            //-     .step.first
            //-       .radial-progress.active(data-index='0')
            //-         .circle
            //-           .mask.full
            //-             .fill
            //-           .mask.half
            //-             .fill
            //-             .fill.fix
            //-           .shadow
            //-         .inset
            //-           .inner-circle
            //-       p 1
            //-     .step
            //-       .line
            //-         .progress
            //-       .radial-progress(data-index='1')
            //-         .circle
            //-           .mask.full
            //-             .fill
            //-           .mask.half
            //-             .fill
            //-             .fill.fix
            //-           .shadow
            //-         .inset
            //-           .inner-circle
            //-       p 2
            //-     .step
            //-       .line
            //-         .progress
            //-       .radial-progress(data-index='2')
            //-         .circle
            //-           .mask.full
            //-             .fill
            //-           .mask.half
            //-             .fill
            //-             .fill.fix
            //-           .shadow
            //-         .inset
            //-           .inner-circle
            //-       p 3




          .copy-holder
            .step-1.active.step-tab
              include 06.1_tab01.pug

            .step-2.step-tab
              //- include 06.1_tab02.pug
              h4 Analyze
              p How is the work organized?

            .step-3.step-tab
              //- include 06.1_tab03.pug
              h4 Interpret
              p What message does this artwork communicate?









// constructor end
