// intro

section.intro
  .shell
      .container
        .range
          .intro-wrapper

            //- title
            h2.intro-title Термины
            p.intro-subtitle Мы хорошо понимаем в оконной сфере и готовы помочь вам, и ответить на любой вопрос.
            //- hr.divider

            //- content
            //- .intro-content
            //-   p.intro-content__text
            //-     | Компания Real Plast предлагает услуги по установке современных пластиковых окон, качественных и надежных. Оконные ПВХ-системы защитят ваше жилье от морозов, сквозняков, чрезмерной влажности, пыли и уличного шума.
            //-     | Наша компания специализируется на изготовлении и монтаже пластиковых конструкций для жилой и коммерческой недвижимости. Вся предложенная продукция имеет высокое европейское качество. Вниманию наших клиентов представлен широкий выбор профильных систем и фурнитуры, возможно изготовление окна любого типа.
            //-
            //-   p.intro-content__text
            //-     | Специалисты компании Real Plast ответят на все вопросы и помогут подобрать оптимальный для вас вариант продукции по приемлемой цене. Мы оказываем широкий спектр дополнительных услуг: замер, доставку, монтаж окон, установку подоконников, отливов, откосов. На все виды работ и продукцию предоставляется гарантия.

// intro end
