// accordion

section.accordion
  .shell
      .container
        .range
          .accordion-wrapper

            ul.accordion-item-list
              li.accordion-item.jsFaqItem
                span.accordion-item-title Эркерная труба
                .accordion-item-content-wrapper
                  .accordion-item-content
                    img.accordion-content-img(src="img/020_content-img-01.jpg")
                    p.accordion-item-text
                      | Экскадрилья, несмотря на внешние воздействия, вращает терминатор. Эксцентриситет, как бы это ни казалось парадоксальным, ищет близкий возмущающий фактор, хотя для имеющих глаза-телескопы туманность Андромеды показалась бы на небе величиной с треть ковша Большой Медведицы. Угловое расстояние, на первый взгляд, недоступно вызывает экваториальный Ганимед. Летучая Рыба ничтожно ищет случайный маятник Фуко. Очевидно, что соединение гасит космический перигей.


              li.accordion-item.jsFaqItem
                span.accordion-item-title Шпросы
                .accordion-item-content-wrapper
                  .accordion-item-content
                    p.accordion-item-text content


              li.accordion-item.jsFaqItem
                span.accordion-item-title Штульповые окна
                .accordion-item-content-wrapper
                  .accordion-item-content
                    p.accordion-item-text content


              li.accordion-item.jsFaqItem
                span.accordion-item-title Отливы
                .accordion-item-content-wrapper
                  .accordion-item-content
                    p.accordion-item-text content


              li.accordion-item.jsFaqItem
                span.accordion-item-title Секустика
                .accordion-item-content-wrapper
                  .accordion-item-content
                    p.accordion-item-text content


              li.accordion-item.jsFaqItem
                span.accordion-item-title Вазотропный индикатор
                .accordion-item-content-wrapper
                  .accordion-item-content
                    p.accordion-item-text content


              li.accordion-item.jsFaqItem
                span.accordion-item-title Зарамный колоидный двигатель
                .accordion-item-content-wrapper
                  .accordion-item-content
                    p.accordion-item-text content
              .accordion-btm-divider
// accordion end
