
.types-content__ribbon
  .types-content__ribbon__text Энергосберегающий стеклопакет


//- === scheme ===================================
//- .types-content__scheme
  //- logo
  //- .types-scheme__logo
  //-   .types-scheme__logo-img
  //-   .types-scheme__logo-title Создано в Германии



//- === about ===================================
.types-about

  .types-content__substrate
    +svg([{'class': 'svg-substrate svg-icon', 'pathid': 'svg_substrate', 'filename':'005_types-substrate'}])
      svg(height='0', width='0', xmlns='http://www.w3.org/2000/svg')
  //- img.types-about__img(src="img/005_types-about__img.jpg")
  p.types-about__text
    | Работает по принципу теплового зеркала.
    | Оптимален для климата средней полосы.
    | Однокамерный. Формула стеклопакета: 32 (4-24-4). Два стекла толщиной по 4 мм, дистанционная рамка 24 мм.
    | Однокамерные стеклопакеты чаще всего применяют для остекления балконов и лоджий, неотапливаемых помещений, а также, в целях экономии, на окна и балконные блоки (окно + балконная дверь), которые выходят на уже застеклённую лоджию или балкон.
  p.types-about__text
    | Двухкамерный. Формула: 40 (4-14-4-14-4). Три стекла по 4 мм, разделенные рамками 14 мм.
    | Двойной стеклопакет является самым распространенным вариантом остекления. Он соответствует всем требованиям ГОСТа по теплопроводности, шумоизоляции и светопропусканию.
  p.types-about__text
    | Двухкамерный. Формула: 40 (4-14-4-14-4). Три стекла по 4 мм, разделенные рамками 14 мм.
    | Двойной стеклопакет является самым распространенным вариантом остекления. Он соответствует всем требованиям ГОСТа по теплопроводности, шумоизоляции и светопропусканию.
    | 0,44 м² С/Вт
    | Требования по ГОСТ 24866-99 к сопротивлению теплопередаче для энергосберегающих стеклопакетов:
    | 0,53 м² С/Вт
    | Двухкамерный мультифункциональный стеклопакет от Строй Мастер:
    | При желании возможно изготовление и установка трехамерного стеклопакета (четыре стекла, три внутренних камеры), но такой стеклопакет будет довольно тяжел, а фурнитура окна будет нести излишние нагрузки. Частое открывание тяжелых створок может привести в результате к их провисанию.
    | При этом стеклопакеты с энергосберегающим стеклом или, тем более, с комбинацией энергосберегающего и мультифункционального стекол при том же весе, что у стандартного двухкамерного стеклопакета, гораздо эффективнее сберегают тепло и мы рекомендуем для установки именно их.

//- === btn-calc-btm ===================================
.types-calc-btm
  .types-calc-btm__divider
  a.types-btn--bottom Рассчитать окно
