// structure

section.structure
  .shell
      .container
        .range
          .structure-wrapper

            //- title
            h2.structure-title Устройство стеклопакета
            hr.divider

            //- content
            .structure-content
              picture.structure-content__img
                source(media='(min-width: 1160px)', srcset='img/005_structure-img.jpg 1x')
                source(media='(min-width: 768px)', srcset='img/005_structure-img--tablet.jpg 1x')
                img.advantages__img(src='img/005_structure-img--mobile.jpg')



// structure end
