// advantages
section.advantages
  .shell
      .container
        .range
          .advantages-wrapper


            //- titele
            h2.advantages-title Преимущества стеклопакета
            hr.advantages-divider


            //- content
            .advantages-content
              .advantages-content__row


                //- RIGHT
                .advantages-content__column.advantages-content__column-right
                  .advantages-content__substrate
                    +svg([{'class': 'svg-substrate svg-icon', 'pathid': 'svg_substrate', 'filename':'005_advantages_substrate'}])
                    svg(height='0', width='0', xmlns='http://www.w3.org/2000/svg')
                  .advantages-content__thumb
                    img(src="img/005_advantages_img.png")


                //- LEFT
                .advantages-content__column.advantages-content__column-left
                  ul.advantages-content-list
                    li.advantages-content-list__item
                      | Защитный слой поглощает и отражает тепловое излучение, отвечает за стойкость стекла к агрессивным химическим и механическим воздействиям.
                    li.advantages-content-list__item
                      | Нижний и верхний слои отвечают за цвет стекла и его зеркальность, а также светопропускающую способность.
                    li.advantages-content-list__item
                      | Функциональный слой, имеющий в своем составе частички серебра, отвечает за отражение солнечного излучения.
                    li.advantages-content-list__item
                      | Защитный слой поглощает и отражает тепловое излучение, отвечает за стойкость стекла к агрессивным химическим и механическим воздействиям.
                    li.advantages-content-list__item
                      | Нижний и верхний слои отвечают за цвет стекла и его зеркальность, а также светопропускающую способность.
                    li.advantages-content-list__item
                      | Функциональный слой, имеющий в своем составе частички серебра, отвечает за отражение солнечного излучения.





// advantages end
