// about

section.about
  .shell
      .container
        .range
          .about-wrapper

            //- title
            h2.about-title Требования к остеклению
            hr.divider

            //- content
            .about-content
              //- item
              .about-content__item
                .about-content__item__substrate
                  +svg([{'class': 'svg-substrate svg-icon', 'pathid': 'svg_substrate', 'filename':'004_requirement_substrate'}])
                  svg(height='0', width='0', xmlns='http://www.w3.org/2000/svg')
                .about-content__item__thumb
                  img(src="img/004_requirements__item-01.png")
                .about-content__item__title
                  | Стильный<br>
                  | дизайн
              //- item
              .about-content__item
                .about-content__item__substrate
                  +svg([{'class': 'svg-substrate svg-icon', 'pathid': 'svg_substrate', 'filename':'004_requirement_substrate'}])
                  svg(height='0', width='0', xmlns='http://www.w3.org/2000/svg')
                .about-content__item__thumb
                  img(src="img/004_requirements__item-02.png")
                .about-content__item__title
                  | тепло- звуко-
                  | виброизоляция
              //- item
              .about-content__item
                .about-content__item__substrate
                  +svg([{'class': 'svg-substrate svg-icon', 'pathid': 'svg_substrate', 'filename':'004_requirement_substrate'}])
                  svg(height='0', width='0', xmlns='http://www.w3.org/2000/svg')
                .about-content__item__thumb
                  img(src="img/004_requirements__item-01.png")
                .about-content__item__title
                  | устойчивость
                  | к вандализму
              //- item
              .about-content__item
                .about-content__item__substrate
                  +svg([{'class': 'svg-substrate svg-icon', 'pathid': 'svg_substrate', 'filename':'004_requirement_substrate'}])
                  svg(height='0', width='0', xmlns='http://www.w3.org/2000/svg')
                .about-content__item__thumb
                  img(src="img/004_requirements__item-01.png")
                .about-content__item__title
                  | универсальная
                  | функциональность

// about end
