// partners

section.partners
  .shell
      .container
        .range
          .partners-wrapper

            //- title
            .partners-title
              h2.partners-title-text Наши партнеры
            //- .divider


            .partners-content

              .partners-content__item-container
                .partners-content__item
                  img.partners__item-thumb(src="img/010_partners-01.png")
                .partners-content__item
                  img.partners__item-thumb(src="img/010_partners-02.png")
                .partners-content__item
                  img.partners__item-thumb(src="img/010_partners-03.png")
                .partners-content__item
                  img.partners__item-thumb(src="img/010_partners-04.png")

              .partners-content__item-container
                .partners-content__item
                  img.partners__item-thumb(src="img/010_partners-05.png")
                .partners-content__item
                  img.partners__item-thumb(src="img/010_partners-06.png")
                .partners-content__item
                  img.partners__item-thumb(src="img/010_partners-07.png")
                .partners-content__item
                  img.partners__item-thumb(src="img/010_partners-08.png")
                .partners-content__item
                  img.partners__item-thumb(src="img/010_partners-09.png")

              .partners-content__item-container
                .partners-content__item
                  img.partners__item-thumb(src="img/010_partners-10.png")
                .partners-content__item
                  img.partners__item-thumb(src="img/010_partners-11.png")
                .partners-content__item
                  img.partners__item-thumb(src="img/010_partners-12.png")
                .partners-content__item
                  img.partners__item-thumb(src="img/010_partners-13.png")


            //- p.partners-subtitle Текст с условиями акции. Уравнение времени, а там действительно могли быть видны звезды, о чем свидетельствует Фукидид выбирает Южный Треугольник - это солнечное затмение предсказал ионянам Фалес Милетский. Угловое расстояние, как бы это ни казалось парадоксальным, выслеживает апогей. Угловое расстояние дает параллакс. Метеорит существенно выслеживает восход . В связи с этим нужно подчеркнуть, что красноватая звездочка перечеркивает перигелий.


// partners end
