// partners

section.partners
  .shell
      .container
        .range
          .partners-wrapper

            //- title
            .partners-title
              h2.partners-title-text Наши партнёры
            //- .divider


            .partners-content

              .partners-content__item-container
                .partners-content__item
                  .partners__item-thumb
                .partners-content__item
                  .partners__item-thumb
                .partners-content__item
                  .partners__item-thumb
                .partners-content__item
                  .partners__item-thumb

              .partners-content__item-container
                .partners-content__item
                  .partners__item-thumb
                .partners-content__item
                  .partners__item-thumb
                .partners-content__item
                  .partners__item-thumb
                .partners-content__item
                  .partners__item-thumb
                .partners-content__item
                  .partners__item-thumb

              .partners-content__item-container
                .partners-content__item
                  .partners__item-thumb
                .partners-content__item
                  .partners__item-thumb
                .partners-content__item
                  .partners__item-thumb
                .partners-content__item
                  .partners__item-thumb


            //- p.partners-subtitle Текст с условиями акции. Уравнение времени, а там действительно могли быть видны звезды, о чем свидетельствует Фукидид выбирает Южный Треугольник - это солнечное затмение предсказал ионянам Фалес Милетский. Угловое расстояние, как бы это ни казалось парадоксальным, выслеживает апогей. Угловое расстояние дает параллакс. Метеорит существенно выслеживает восход . В связи с этим нужно подчеркнуть, что красноватая звездочка перечеркивает перигелий.


// partners end
