// slider-sales
.slider-sales
  .shell
    .container
      .range
        ul.slider-sales-wrapper#slider1

          //- item
          li.slider-sales__item
            .slider-sales__item__content
            .slider-sales__item__stock
              .stock__content
                .stock__title
                  span Акция
                .stock__desc Скидки на окна и двери от 35% до 50%
                fotm.stock__form
                  input.stock__name(placeholder="Ваше имя" type="text")
                  input.stock__phone(placeholder="Ваш номер телефона" type="text")
                  button.stock__btn(type="submit") Получить скидку
                .stock__more Просмотреть все акции
              .stock__timer
                .stock__timer-title Времени осталось
                #DateCountdown(data-date='2016-10-20 00:00:00')

          //- item
          li.slider-sales__item
            .slider-sales__item__content
            .slider-sales__item__stock
              .stock__content
                .stock__title
                  span Акция
                .stock__desc Скидки на окна и двери от 35% до 50%
                fotm.stock__form
                  input.stock__name(placeholder="Ваше имя" type="text")
                  input.stock__phone(placeholder="Ваш номер телефона" type="text")
                  button.stock__btn(type="submit") Получить скидку
                .stock__more Просмотреть все акции
              .stock__timer
                .stock__timer-title Времени осталось
                #DateCountdown(data-date='2016-10-20 00:00:00')

          //- item
          li.slider-sales__item
            .slider-sales__item__content
            .slider-sales__item__stock
              .stock__content
                .stock__title
                  span Акция
                .stock__desc Скидки на окна и двери от 35% до 50%
                fotm.stock__form
                  input.stock__name(placeholder="Ваше имя" type="text")
                  input.stock__phone(placeholder="Ваш номер телефона" type="text")
                  button.stock__btn(type="submit") Получить скидку
                .stock__more Просмотреть все акции
              .stock__timer
                .stock__timer-title Времени осталось
                #DateCountdown(data-date='2016-10-20 00:00:00')

          //- item
          li.slider-sales__item
            .slider-sales__item__content
            .slider-sales__item__stock
              .stock__content
                .stock__title
                  span Акция
                .stock__desc Скидки на окна и двери от 35% до 50%
                fotm.stock__form
                  input.stock__name(placeholder="Ваше имя" type="text")
                  input.stock__phone(placeholder="Ваш номер телефона" type="text")
                  button.stock__btn(type="submit") Получить скидку
                .stock__more Просмотреть все акции
              .stock__timer
                .stock__timer-title Времени осталось
                #DateCountdown(data-date='2016-10-20 00:00:00')

          //- item
          li.slider-sales__item
            .slider-sales__item__content
            .slider-sales__item__stock
              .stock__content
                .stock__title
                  span Акция
                .stock__desc Скидки на окна и двери от 35% до 50%
                fotm.stock__form
                  input.stock__name(placeholder="Ваше имя" type="text")
                  input.stock__phone(placeholder="Ваш номер телефона" type="text")
                  button.stock__btn(type="submit") Получить скидку
                .stock__more Просмотреть все акции
              .stock__timer
                .stock__timer-title Времени осталось
                #DateCountdown(data-date='2016-10-20 00:00:00')





        //- controls
        //- .slider-sales__controls

// slider-sales end
