// gallery
.gallery
  .shell
    .container
      .range
        #gallery-smooth
          .gallery-essence


            .row-1
              .col.col-1
                .gallery__item
                  img(src="https://placehold.it/550x470/7f746e/fff")
              .col.col-2
                .gallery__item
                  img(src="https://placehold.it/170x225/718e95/fff")
                .gallery__item
                  img(src="https://placehold.it/170x225/8ba186/fff")
              .col.col-3
                .gallery__item
                  img(src="https://placehold.it/360x225/798e8b/fff")
                .gallery__item
                  img(src="https://placehold.it/360x225/d08f6d/fff")
            .row-2
              .col-s
                .gallery__item
                  img(src="https://placehold.it/360x225/6b6869/fff")
                .gallery__item
                  img(src="https://placehold.it/360x225/747d81/fff")
                .gallery__item
                  img(src="https://placehold.it/360x225/a68161/fff")
          .gallery-essence


            .row-1
              .col.col-1
                .gallery__item
                  img(src="https://placehold.it/550x470/7f746e/fff")
              .col.col-2
                .gallery__item
                  img(src="https://placehold.it/170x225/718e95/fff")
                .gallery__item
                  img(src="https://placehold.it/170x225/8ba186/fff")
              .col.col-3
                .gallery__item
                  img(src="https://placehold.it/360x225/798e8b/fff")
                .gallery__item
                  img(src="https://placehold.it/360x225/d08f6d/fff")
            .row-2
              .col-s
                .gallery__item
                  img(src="https://placehold.it/360x225/6b6869/fff")
                .gallery__item
                  img(src="https://placehold.it/360x225/747d81/fff")
                .gallery__item
                  img(src="https://placehold.it/360x225/a68161/fff")

        //- anchor to map
        .gallery__expand
          .gallery__expand-item.divider
          .gallery__expand-item.gallery__expand__btn Смотреть объекты на карте
          .gallery__expand-item.divider
// gallery end
