// welcome
section.welcome
  .shell
    .container
      .range
        .welcome-wrapper

          .welcome-thumb
            .welcome-thumb__img
          .welcome-content
            h2.welcome-title Фурнитура
            .welcome-text
              p.welcome-text__item
                | Фурнитурой называют различные устройства, детали и компоненты, которые выполняют вспомогательные функции. Слово «фурнитура» имеет французское происхождение, «fourniture» — это подсобный механизм в производстве. Окна пластиковые снабжаются большим числом таких механизмов, отвечающих за поворотную, откидную, и поворотно-откидную функцию створки окна. Фурнитура — это и запорные механизмы. Иными словами, фурнитура отвечает за работу пластиковых окон.
              p.welcome-text__item
                | Фурнитура для пластиковых окон различается по способу открывания, направлению открывания створки и допустимому весу створки. По способу открывания пластиковых окон, фурнитура, в свою очередь, подразделяется на поворотную с вертикальным подвесом, с горизонтальным подвесом и поворотно-откидную.


// welcome end
