// functions

section.functions
  .shell
      .container
        .range
          .functions-wrapper

            //- title
            h2.functions-title Функции фурнитуры
            .functions-sub-title Самое современное решение для остекления загородного дома — это, конечно, окна из ПВХ. Преимущества пластиковых окон очевидны: долговечность, презентабельный внешний вид и широкие возможности дизайна.


            //- content
            .functions-content
              .functions-content-column.functions-content-column-left
                .func__item
                  .func__item__icon
                  .func__item__title Плавное открывание
                  .func__item__text Тест текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                .func__item
                  .func__item__icon
                  .func__item__title Защита от взлома
                  .func__item__text Тест текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                .func__item
                  .func__item__icon
                  .func__item__title Защита от ошибки
                  .func__item__text Тест текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст


              .functions-content-column.functions-content-column-mid
                img(src="img/003_functions-img.jpg")

              .functions-content-column.functions-content-column-right
                .func__item
                  .func__item__icon
                  .func__item__title Герметичный режим
                  .func__item__text Тест текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                .func__item
                  .func__item__icon
                  .func__item__title Микропроветривание
                  .func__item__text Тест текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст
                .func__item
                  .func__item__icon
                  .func__item__title Защита от провисания
                  .func__item__text Тест текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст текст



// functions end
