// manufacturers
section.manufacturers
  .shell
      .container
        .range
          .manufacturers-wrapper


            //- title
            h2.manufacturers-title Производители фурнитуры
            hr.manufacturers-divider


            //- content
            .manufacturers-content


              .manufacturers-content__row
                .manufacturers-content__col.col-left
                  .manufacturers-content__col__title SIEGNIA
                  .manufacturers-content__col__text
                    | Компания Real Plast предлагает услуги по установке современных пластиковых окон, качественных и надежных. Оконные ПВХ-системы защитят ваше жилье от морозов, сквозняков, чрезмерной влажности, пыли и уличного шума.
                    | <br> Наша компания специализируется на изготовлении и монтаже пластиковых конструкций для жилой и коммерческой недвижимости. Вся предложенная продукция имеет высокое европейское качество. Вниманию наших клиентов представлен широкий выбор профильных систем и фурнитуры, возможно изготовление окна любого типа.
                  .manufacturers-content__col__text
                    | Специалисты компании Real Plast ответят на все вопросы и помогут подобрать оптимальный для вас вариант продукции по приемлемой цене. Мы оказываем широкий спектр дополнительных услуг: замер, доставку, монтаж окон, установку подоконников, отливов, откосов. На все виды работ и продукцию предоставляется гарантия.
                .manufacturers-content__col.col-right
                  img.manufacturers-content__img(src="img/003_manufacturers-img-01.png")


              .manufacturers-content__row
                .manufacturers-content__col.col-left
                  .manufacturers-content__col__title ROTO
                  .manufacturers-content__col__text
                    | Компания Real Plast предлагает услуги по установке современных пластиковых окон, качественных и надежных. Оконные ПВХ-системы защитят ваше жилье от морозов, сквозняков, чрезмерной влажности, пыли и уличного шума.
                    | <br>Наша компания специализируется на изготовлении и монтаже пластиковых конструкций для жилой и коммерческой недвижимости. Вся предложенная продукция имеет высокое европейское качество. Вниманию наших клиентов представлен широкий выбор профильных систем и фурнитуры, возможно изготовление окна любого типа.
                  .manufacturers-content__col__text
                    | Специалисты компании Real Plast ответят на все вопросы и помогут подобрать оптимальный для вас вариант продукции по приемлемой цене. Мы оказываем широкий спектр дополнительных услуг: замер, доставку, монтаж окон, установку подоконников, отливов, откосов. На все виды работ и продукцию предоставляется гарантия.
                .manufacturers-content__col.col-right
                  img.manufacturers-content__img(src="img/003_manufacturers-img-02.png")






// manufacturers end
