// gallery-handle
.gallery-handle
  .shell
    .container
      .range

        //- title
        h2.gallery-handle-title оконные ручки
        hr.gallery-handle-divider

        //- content

        #gallery-handle-smooth
          .gallery-handle-essence


            .row-1
              .col.col-1
                .gallery-handle__item
                  img(src="img/003_gallery-handle-img-01.jpg")
              .col.col-2
                .gallery-handle__item
                  img(src="img/003_gallery-handle-img-02.jpg")
                .gallery-handle__item
                  img(src="img/003_gallery-handle-img-03.jpg")
              .col.col-3
                .gallery-handle__item
                  img(src="img/003_gallery-handle-img-04.jpg")
                .gallery-handle__item
                  img(src="img/003_gallery-handle-img-05.jpg")
            .row-2
              .col-s
                .gallery-handle__item
                  img(src="img/003_gallery-handle-img-06.jpg")
                .gallery-handle__item
                  img(src="img/003_gallery-handle-img-07.jpg")
                .gallery-handle__item
                  img(src="img/003_gallery-handle-img-08.jpg")
          .gallery-handle-essence


            .row-1
              .col.col-1
                .gallery-handle__item
                  img(src="img/003_gallery-handle-img-01.jpg")
              .col.col-2
                .gallery-handle__item
                  img(src="img/003_gallery-handle-img-02.jpg")
                .gallery-handle__item
                  img(src="img/003_gallery-handle-img-03.jpg")
              .col.col-3
                .gallery-handle__item
                  img(src="img/003_gallery-handle-img-04.jpg")
                .gallery-handle__item
                  img(src="img/003_gallery-handle-img-05.jpg")
            .row-2
              .col-s
                .gallery-handle__item
                  img(src="img/003_gallery-handle-img-06.jpg")
                .gallery-handle__item
                  img(src="img/003_gallery-handle-img-07.jpg")
                .gallery-handle__item
                  img(src="img/003_gallery-handle-img-08.jpg")

// gallery-handle end
