// rules
section.rules
  .shell
      .container
        .range
          .rules-wrapper


            //- titele
            h2.rules-title Оконная фурнитура, правила эксплуатации
            hr.rules-divider


            //- content
            .rules-content
              p.rules-content-text Выбрать для окна качественную фурнитуру – это еще пол дела. Необходимо научиться правильно ее эксплуатировать в дальнейшем. Именно бережная эксплуатация предотвратит появление постоянных поломок и сократит численность неизбежных настроек пластикового окна. Итак, давайте рассмотрим несколько правил эксплуатации фурнитуры для дальнейшего ее длительного использования:

              ul.rules-content-list
                li.rules-content-list__item
                  | Выбрать только качественную фурнитуру для окна и лучше выбирать среди известных брендов.
                li.rules-content-list__item
                  | Оконная ручка имеет несколько фиксированных положений. Не стоит распылять свои усилия и пытаться повернуть ее еще больше. Это может привести к тому, что оконную ручку просто заклинит.
                li.rules-content-list__item
                  | Не стоит самостоятельно разбирать сложные механизмы и системы запирания окна. Это ни к чему хорошему не приведет. Просто вы не сможете собрать элементы фурнитуры назад.
                li.rules-content-list__item
                  | Перед тем, как открыть створку окна, в момент поворачивания ручки, проследите, чтобы створка плотно была прижата к раме полностью.
                li.rules-content-list__item
                  | Запрещается поворачивать ручку окна в тот момент, когда оконная створка у вас находится в откинутом или в открытом положении.
                li.rules-content-list__item
                  | Для смазки фурнитуры или ее очистки запрещается использовать вещества, которые в своем составе содержат абразивы.
              p.rules-content-text Соблюдая данные нехитрые правила, ваши окна вам будут непременно служить долго и по оконной фурнитуре не должно возникнуть никаких вопросов.

// rules end
