// dark

section.dark
  .shell
      .container
        .range
          .dark-wrapper

            //- title
            .dark-title-container
              h2.dark-title Значение Энергосбрежения

            .dark-content
              .dark-container


                .dark-content__item--left
                  picture.dark__item-thumb
                    source(media='(min-width: 768px)', srcset='img/011_dark-01.png 1x')
                    img.advantages__img(src='img/011_dark-01--mobile.png')



                .dark-content__item--mid
                  .dark__item-text
                    | Работает по принципу теплового зеркала. Оптимален для климата средней полосы.Однокамерный. Формула стеклопакета: 32 (4-24-4). Два стекла толщиной по 4 мм, дистанционная рамка 24 мм.
                    | <br>Однокамерные стеклопакеты чаще всего применяют для остекления балконов и лоджий, неотапливаемых помещений, а также, в целях экономии, на окна и балконные блоки (окно + балконная дверь), которые выходят на уже зстеклённую лоджию или балкон. Двухкамерный. Формула: 40 (4-14-4-14-4). Три стекла по 4 мм, разделенные рамками
                    | Двойной стеклопакет является самым распространенным



                .dark-content__item--right
                  img.dark__item-thumb(src="img/011_dark-02.png")



            //- p.dark-subtitle Текст с условиями акции. Уравнение времени, а там действительно могли быть видны звезды, о чем свидетельствует Фукидид выбирает Южный Треугольник - это солнечное затмение предсказал ионянам Фалес Милетский. Угловое расстояние, как бы это ни казалось парадоксальным, выслеживает апогей. Угловое расстояние дает параллакс. Метеорит существенно выслеживает восход . В связи с этим нужно подчеркнуть, что красноватая звездочка перечеркивает перигелий.


// dark end
