// requirements

section.requirements
  .shell
      .container
        .range
          .requirements-wrapper

            //- title
            h2.requirements-title Требования к остеклению
            hr.divider

            //- content
            .requirements-content
              //- item
              .requirements-content__item
                .requirements-content__item__substrate
                  +svg([{'class': 'svg-substrate svg-icon', 'pathid': 'svg_substrate', 'filename':'004_requirement_substrate'}])
                  svg(height='0', width='0', xmlns='http://www.w3.org/2000/svg')
                .requirements-content__item__thumb
                  img(src="img/004_requirements__item-01.png")
                .requirements-content__item__title
                  | Стильный<br>
                  | дизайн
              //- item
              .requirements-content__item
                .requirements-content__item__substrate
                  +svg([{'class': 'svg-substrate svg-icon', 'pathid': 'svg_substrate', 'filename':'004_requirement_substrate'}])
                  svg(height='0', width='0', xmlns='http://www.w3.org/2000/svg')
                .requirements-content__item__thumb
                  img(src="img/004_requirements__item-02.png")
                .requirements-content__item__title
                  | тепло- звуко-
                  | виброизоляция
              //- item
              .requirements-content__item
                .requirements-content__item__substrate
                  +svg([{'class': 'svg-substrate svg-icon', 'pathid': 'svg_substrate', 'filename':'004_requirement_substrate'}])
                  svg(height='0', width='0', xmlns='http://www.w3.org/2000/svg')
                .requirements-content__item__thumb
                  img(src="img/004_requirements__item-01.png")
                .requirements-content__item__title
                  | устойчивость
                  | к вандализму
              //- item
              .requirements-content__item
                .requirements-content__item__substrate
                  +svg([{'class': 'svg-substrate svg-icon', 'pathid': 'svg_substrate', 'filename':'004_requirement_substrate'}])
                  svg(height='0', width='0', xmlns='http://www.w3.org/2000/svg')
                .requirements-content__item__thumb
                  img(src="img/004_requirements__item-01.png")
                .requirements-content__item__title
                  | универсальная
                  | функциональность

// requirements end
