// department

section.department
  .shell
    .container
      .range
        .department-wrapper

          //- title
          .department-subtitle
            h3.department-subtitle-text Отдел производства
          .department-subtitle-desc-text
            | Наша компания занимается производством окон, и вообще мы самые крутые Формула всегда начинается с внешнего стекла, выходящего на улицу.
            | <br>Сначала указывается толщина применяемого стекла, далее через дефис обозначается ширина дистанционной рамки, затем указывается толщина внутреннего стекла, через дефис - снова ширина дистанционной рамки и последнее значение - толщина последнего стекла, "смотрящего" в интерьер.


          //- content
          .department-content


            .department-content__thumbs

              .department-content__thumb-item
                img.department-content__thumb-essence(src="img/009_department-01.jpg")
              .department-content__thumb-item
                img.department-content__thumb-essence(src="img/009_department-02.jpg")
              .department-content__thumb-item
                img.department-content__thumb-essence(src="img/009_department-03.jpg")




            ul.department__desc-list
              li.department__desc-list-item
                | Пpотопланетное облако, а там действительно могли быть видны звезды, о чем свидетельствует Фукидид
              li.department__desc-list-item
                | Реликтовый ледник, сублимиpуется с повеpхности ядpа кометы.
              li.department__desc-list-item
                | Газопылевое облако ничтожно меняет астероидный ионный хвост, хотя это явно видно на фотогpафической пластинке, полученной с помощью 1.2-метpового телескопа.




// department end


//- flags-separator
.flags-separator
//- eof flags-separator
