// employees
section.employees
  .shell
    .container
      .range
        .employees-wrapper

          //- title
          .employees-subtitle
            h3.employees-subtitle-text Наши сотрудники


          //- content
          .process-content

            .process-content-row
              //- item
              .process__item
                img.process__item__img(src="img/009_employees-01.png")
                .process__item__desc
                  .process__item__name Михаил Виссарионов
                  .process__item__position Грузчик
                  .process__item__exp Стаж: 1 год
              //- item
              .process__item
                img.process__item__img(src="img/009_employees-02.png")
                .process__item__desc
                  .process__item__name Пётр Шишкин
                  .process__item__position Системный администратор
                  .process__item__exp Стаж: 3 года
              //- item
              .process__item
                img.process__item__img(src="img/009_employees-01.png")
                .process__item__desc
                  .process__item__name Валентина Опаленскова
                  .process__item__position Уборщик
                  .process__item__exp Стаж: 5 лет
              //- item
              .process__item
                img.process__item__img(src="img/009_employees-04.png")
                .process__item__desc
                  .process__item__name Зиговий Максимиллианов
                  .process__item__position СЕО
                  .process__item__exp Стаж: 1 мес


            .process-content-row
              //- item
              .process__item
                img.process__item__img(src="img/009_employees-05.png")
                .process__item__desc
                  .process__item__name Михаил Виссарионов
                  .process__item__position Грузчик
                  .process__item__exp Стаж: 1 год
              //- item
              .process__item
                img.process__item__img(src="img/009_employees-06.png")
                .process__item__desc
                  .process__item__name Пётр Шишкин
                  .process__item__position Системный администратор
                  .process__item__exp Стаж: 3 года
              //- item
              .process__item
                img.process__item__img(src="img/009_employees-07.png")
                .process__item__desc
                  .process__item__name Валентина Опаленскова
                  .process__item__position Уборщик
                  .process__item__exp Стаж: 5 лет
              //- item
              .process__item
                img.process__item__img(src="img/009_employees-08.png")
                .process__item__desc
                  .process__item__name Зиговий Максимиллианов
                  .process__item__position СЕО
                  .process__item__exp Стаж: 1 мес




// employees end
