// gallery
section.gallery
  .shell
    .container
      .range
        #gallery-smooth
          .gallery-essence


            .row-1
              .col.col-1
                .gallery__item
                  a.gallery__full(href="img/009_gallery-01.jpg")
                    img(src="img/009_gallery-01.jpg")
              .col.col-2
                .gallery__item
                  a.gallery__full(href="img/009_gallery-02.jpg")
                    img(src="img/009_gallery-02.jpg")
                .gallery__item
                  a.gallery__full(href="img/009_gallery-03.jpg")
                    img(src="img/009_gallery-03.jpg")
              .col.col-3
                .gallery__item
                  a.gallery__full(href="img/009_gallery-04.jpg")
                    img(src="img/009_gallery-04.jpg")
                .gallery__item
                  a.gallery__full(href="img/009_gallery-05.jpg")
                    img(src="img/009_gallery-05.jpg")
            .row-2
              .col-s
                .gallery__item
                  a.gallery__full(href="img/009_gallery-06.jpg")
                    img(src="img/009_gallery-06.jpg")
                .gallery__item
                  a.gallery__full(href="img/009_gallery-07.jpg")
                    img(src="img/009_gallery-07.jpg")
                .gallery__item
                  a.gallery__full(href="img/009_gallery-08.jpg")
                    img(src="img/009_gallery-08.jpg")
          .gallery-essence


            .row-1
              .col.col-1
                .gallery__item
                  a.gallery__full(href="img/009_gallery-01.jpg")
                    img(src="img/009_gallery-01.jpg")
              .col.col-2
                .gallery__item
                  a.gallery__full(href="img/009_gallery-02.jpg")
                    img(src="img/009_gallery-02.jpg")
                .gallery__item
                  a.gallery__full(href="img/009_gallery-03.jpg")
                    img(src="img/009_gallery-03.jpg")
              .col.col-3
                .gallery__item
                  a.gallery__full(href="img/009_gallery-04.jpg")
                    img(src="img/009_gallery-04.jpg")
                .gallery__item
                  a.gallery__full(href="img/009_gallery-05.jpg")
                    img(src="img/009_gallery-05.jpg")
            .row-2
              .col-s
                .gallery__item
                  a.gallery__full(href="img/009_gallery-06.jpg")
                    img(src="img/009_gallery-06.jpg")
                .gallery__item
                  a.gallery__full(href="img/009_gallery-07.jpg")
                    img(src="img/009_gallery-07.jpg")
                .gallery__item
                  a.gallery__full(href="img/009_gallery-08.jpg")
                    img(src="img/009_gallery-08.jpg")

// gallery end
