// ternar-items

section.ternar-items
  .shell
      .container
        .range
          .ternar-items-wrapper

            //- title
            .ternar-items-title
              h2.ternar-items-title-text Виды пластиковых дверей
            .ternar-items-subtitle Мы являемся производителем и можем предложить самые лучшие цены - на 15-20% дешевле.
            .divider


            //- content
            .ternar-items-content


                .ternar-items-content__item(href='#balcons')
                  img.ternar-items__item-thumb(src="img/010_ternar-01.jpg")
                  .ternar-items__item-desc
                    .ternar-items__item-price <span>до&nbsp;</span>99 999<span>&nbsp;kzt</span>
                    .ternar-items__item-title Двухстворчатое левооткрываемое окно


                .ternar-items-content__item(href='#interior')
                  img.ternar-items__item-thumb(src="img/010_ternar-02.jpg")
                  .ternar-items__item-desc
                    .ternar-items__item-price <span>до&nbsp;</span>99 999<span>&nbsp;kzt</span>
                    .ternar-items__item-title Двухстворчатое левооткрываемое окно


                .ternar-items-content__item(href='#entry')
                  img.ternar-items__item-thumb(src="img/010_ternar-03.png")
                  .ternar-items__item-desc
                    .ternar-items__item-price <span>до&nbsp;</span>99 999<span>&nbsp;kzt</span>
                    .ternar-items__item-title Балконное левооткрываемое окно



            //- p.ternar-items-subtitle Текст с условиями акции. Уравнение времени, а там действительно могли быть видны звезды, о чем свидетельствует Фукидид выбирает Южный Треугольник - это солнечное затмение предсказал ионянам Фалес Милетский. Угловое расстояние, как бы это ни казалось парадоксальным, выслеживает апогей. Угловое расстояние дает параллакс. Метеорит существенно выслеживает восход . В связи с этим нужно подчеркнуть, что красноватая звездочка перечеркивает перигелий.


// ternar-items end
