// hexagon-items

section.hexagon-items
  .shell
      .container
        .range
          .hexagon-items-wrapper

            //- title
            .hexagon-items-title
              h2.hexagon-items-title-text Выберите свой дом для подбора окон
            .hexagon-items-subtitle Большинство многоквартирных домов построены по одному плану, это позволяет быстро подбирать необходимые окна



            //- content
            .hexagon-items-content

              .hexagon-items-content__row
                a.hexagon-items-content__item(href='#balcons')
                  img.hexagon-items__item-thumb(src="img/016_hexagon-thumb-01.jpg")
                  .hexagon-items__item-desc
                    .hexagon-items__item-title Типаж 55
                    .hexagon-items__item-text Микрорайон <span>1,5,10а,11</span>, Алтай <span>2</span>, Матысу <span>2</span>, Аксай <span>5</span>


                //- a.item(href)
                //-   .make3d
                //-     .shadow
                //-     .thumbnail
                //-       img(src='img/product-03.jpg')
                //-
                //-     .desc
                //-       .desc-container
                //-         .viewable-data(data-info='initial content') SOFTWLC
                //-         .hidden-data(data-info='show this content on hover')
                //-           ul
                //-             li • 1 порт GPON
                //-             li • гигабитный роутер
                //-             li • Все порты коммутаторов оснащены защитой от внешних воздействий
                //-     .thumbnail-overlay
                //-     .btn.btn-overlay Подробнее


                a.hexagon-items-content__item(href='#interior')
                  img.hexagon-items__item-thumb(src="img/016_hexagon-thumb-02.jpg")
                  .hexagon-items__item-desc
                    .hexagon-items__item-title Типаж 55
                    .hexagon-items__item-text Микрорайон <span>1,5,10а,11</span>, Алтай <span>2</span>, Матысу <span>2</span>, Аксай <span>5</span>


                a.hexagon-items-content__item(href='#entry')
                  img.hexagon-items__item-thumb(src="img/016_hexagon-thumb-03.jpg")
                  .hexagon-items__item-desc
                    .hexagon-items__item-title Типаж 55
                    .hexagon-items__item-text Микрорайон <span>1,5,10а,11</span>, Алтай <span>2</span>, Матысу <span>2</span>, Аксай <span>5</span>


              .hexagon-items-content__row
                a.hexagon-items-content__item(href='#entry')
                  img.hexagon-items__item-thumb(src="img/016_hexagon-thumb-04.jpg")
                  .hexagon-items__item-desc
                    .hexagon-items__item-title Типаж 55
                    .hexagon-items__item-text Микрорайон <span>1,5,10а,11</span>, Алтай <span>2</span>, Матысу <span>2</span>, Аксай <span>5</span>


                a.hexagon-items-content__item(href='#entry')
                  img.hexagon-items__item-thumb(src="img/016_hexagon-thumb-05.jpg")
                  .hexagon-items__item-desc
                    .hexagon-items__item-title Типаж 55
                    .hexagon-items__item-text Микрорайон <span>1,5,10а,11</span>, Алтай <span>2</span>, Матысу <span>2</span>, Аксай <span>5</span>


                a.hexagon-items-content__item(href='#entry')
                  img.hexagon-items__item-thumb(src="img/016_hexagon-thumb-06.jpg")
                  .hexagon-items__item-desc
                    .hexagon-items__item-title Типаж 55
                    .hexagon-items__item-text Микрорайон <span>1,5,10а,11</span>, Алтай <span>2</span>, Матысу <span>2</span>, Аксай <span>5</span>



            //- p.hexagon-items-subtitle Текст с условиями акции. Уравнение времени, а там действительно могли быть видны звезды, о чем свидетельствует Фукидид выбирает Южный Треугольник - это солнечное затмение предсказал ионянам Фалес Милетский. Угловое расстояние, как бы это ни казалось парадоксальным, выслеживает апогей. Угловое расстояние дает параллакс. Метеорит существенно выслеживает восход . В связи с этим нужно подчеркнуть, что красноватая звездочка перечеркивает перигелий.


// hexagon-items end
