.page-index .footer {
  // bg 1
  background: url('../img/footer_bg-pattern.jpg');
  // background: #fff;
  color: #fff;
}


.page-index .footer {
  & .shell {
    margin: 0 auto;
    max-width: 1160px;

    // padding: 0 20px;

    // outline: 2px dashed tan;
    // outline-offset: -2px;

    @media #{$mobile} {
      min-width: 320px;
      // а для внутряков обязательно заранее пропиши:
      // & .wrap {
      //   min-width: initial;
      // }
    }
  }

  & .inner {
    // wide bg [2] for example
  }

  & .container {
    padding: 0 20px;
    padding-top: 65px;
    padding-bottom: 75px;
    background: url('../img/footer_bg.jpg') no-repeat 50% 0%;
    background-size: cover;
  }

  & .footer-wrapper {
    //
  }

  & .footer-essence {
    //
  }
}


.page-index .footer {
  & .footer-essence .row{
    display: flex;
    margin-bottom: 50px;
  }
}


.page-index .footer {
  & .footer-essence .col{
    width: 170px;
    margin-right: 20px;
    justify-content: center;
  }
}


.page-index .footer {
  & .CLASS{

  }
}


.page-index .footer {
  & h4{
    @include font(normal, 700, 18px, 23px, 'Roboto')
    margin-bottom: 10px;
  }
}


.page-index .footer {
  & .footer-box__link{
    @include font(normal, 300, 14px, 24px, 'Roboto');
    color: #fff;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}


.page-index .footer {
  & .CLASS{

  }
}


.page-index .footer {
  & .list-unstyled li{
    margin-bottom: 10px;
  }
}

// right content

.page-index .footer {
  & .footer__callback{
    margin-bottom: 60px;
  }
}



.page-index .footer {
  & .footer__callback__phone{
    @include font(normal, 300, 25px, 37px, 'Roboto')
  }
}


.page-index .footer {
  & .CLASS{

  }
}

// socials
.page-index .footer {
  & .footer__socials{
    margin-bottom: 50px;
  }
}


.page-index .footer {
  & .footer__socials{
    margin-bottom: 50px;
  }
}


.page-index .footer {
  & .footer__socials-wrapper{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }
}


.page-index .footer {
  & .footer__socials__item{
    justify-content: flex-start;
    margin-right: 18px;
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
    position: relative;
    display: block;

    & .svg-icon {
      position: absolute;
      fill: #fff;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }
}


.page-index .footer {
  & .icon-socials-fb{
    width: 13px;
    height: 30px;
  }
}


.page-index .footer {
  & .icon-socials-vk{
    width: 30px;
    height: 17px;
  }
}


.page-index .footer {
  & .icon-socials-yt{
    width: 30px;
    height: 21px;
  }
}


.page-index .footer {
  & .CLASS{

  }
}


.page-index .footer {
  & .footer__address__item__city{
    @include font(normal, 300, 18px, 23px, 'Roboto')
  }
}


.page-index .footer {
  & .footer__address__item__streets{
    @include font(normal, 300, 14px, 23px, 'Roboto')

    & li {
      padding-left: 10px;
    }
  }
}


.page-index .footer {
  & .CLASS{

  }
}


.page-index .footer {
  & .footer-bottom-row{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
  }
}


.page-index .footer {
  & .footer__copy{
    @include font(normal, 300, 24px, 24px, 'Ubuntu')
    margin-right: 45px;
  }
}


.page-index .footer {
  & .footer__manufactured{
    @include font(normal, 300, 15px, 24px, 'Ubuntu')

    & span {
      margin-right: 10px;
    }

    & .icon-manufactured {
      fill: #fff;
      width: 55px;
      height: 21px;
    }
  }
}


.page-index .footer {
  & .CLASS{

  }
}
