.page-index .footer {
  // bg 1
  background: #313131 url('../img/footer_bg.jpg');
  color: #fff;
}


.page-index .footer {
  & .shell {
    margin: 0 auto;
    max-width: 1160px;

    outline: 2px dashed tan;
    outline-offset: -2px;

    @media #{$mobile} {
      min-width: 320px;
      // а для внутряков обязательно заранее пропиши:
      // & .wrap {
      //   min-width: initial;
      // }
    }
  }

  & .inner {
    // wide bg [2] for example
  }

  & .container {
    padding-top: 65px;
    padding-bottom: 75px;
  }

  & .footer-wrapper {
    //
  }

  & .footer-essence {
    //
  }
}


.page-index .footer {
  & .footer-essence .row{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }
}


.page-index .footer {
  & .footer-essence .col{
    width: 170px;
    margin-right: 20px;
    justify-content: center;
  }
}


.page-index .footer {
  & .CLASS{

  }
}


.page-index .footer {
  & h4{
    @include font(normal, 700, 18px, 23px, 'Roboto')
    margin-bottom: 10px;
  }
}


.page-index .footer {
  & .footer-box__link{
    @include font(normal, 300, 14px, 24px, 'Roboto');
  }
}


.page-index .footer {
  & .CLASS{

  }
}


.page-index .footer {
  & .list-unstyled li{
    margin-bottom: 10px;
  }
}

// right content

.page-index .footer {
  & .footer__callback{
    margin-bottom: 60px;
  }
}



.page-index .footer {
  & .footer__callback__phone{
    @include font(normal, 300, 25px, 37px, 'Roboto')
  }
}


.page-index .footer {
  & .CLASS{

  }
}

// socials
.page-index .footer {
  & .footer__socials{
    margin-bottom: 50px;
  }
}


.page-index .footer {
  & .footer__socials-wrapper{
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
  }
}


.page-index .footer {
  & .footer__socials__item{
    justify-content: flex-start;
    margin-right: 18px;
    width: 45px;
    height: 45px;
    border: 1px solid #fff;
  }
}


.page-index .footer {
  & .CLASS{

  }
}


.page-index .footer {
  & .CLASS{

  }
}


.page-index .footer {
  & .footer__address__item__city{
    @include font(normal, 300, 18px, 23px, 'Roboto')
  }
}


.page-index .footer {
  & .footer__address__item__streets{
    @include font(normal, 300, 14px, 23px, 'Roboto')
  }
}


.page-index .footer {
  & .CLASS{

  }
}


.page-index .footer {
  & .CLASS{

  }
}


.page-index .footer {
  & .footer__copy{
    @include font(normal, 300, 24px, 24px, 'Ubuntu')
  }
}


.page-index .footer {
  & .footer__manufactured{
    @include font(normal, 300, 15px, 24px, 'Ubuntu')
  }
}


.page-index .footer {
  & .CLASS{

  }
}
