// types

.types__top-row

section.types
  .shell
    .container
      .range
        .types-essence



          //- LEFT menu
          //- ---------------------------------------------
          .types-menu
            h2.types-menu__title Виды стеклопакетов:
            ul.types-menu__list.js-tabs#menu_tabs

              //- item
              li.types-menu__item(data-id="prod-first" class='closed')
                a.types-menu__link
                  .types-menu__link__img
                  .types-menu__link__text Стандартный
                  //- sub menu
                  //- ul.types-menu__sublist
                  //-   li.types-menu__subitem
                  //-     a.types-menu__sublink

              //- item
              li.types-menu__item(class='opened')
                a.types-menu__link
                  .types-menu__link__img
                  .types-menu__link__text Энерго-сберегающий

              //- item
              li.types-menu__item(data-id="prod-fourth" class='closed')
                a.types-menu__link
                  .types-menu__link__img
                  .types-menu__link__text Мульти-функциональный

              //- item
              li.types-menu__item(data-id="prod-fifth" class='closed')
                a.types-menu__link
                  .types-menu__link__img
                  .types-menu__link__text Шумозащитный

              //- item
              li.types-menu__item(data-id="prod-fifth" class='closed')
                a.types-menu__link
                  .types-menu__link__img
                  .types-menu__link__text Противоударный

              //- item
              li.types-menu__item(data-id="prod-fifth" class='closed')
                a.types-menu__link
                  .types-menu__link__img
                  .types-menu__link__text Тонированный



          //- RIGHT content
          //- ---------------------------------------------
          .types-content.active#prod-second
            .chose-content__wrapper

              .types-content__ribbon(absolute)
                .types-content__ribbon__text Энергосберегающий стеклопакет


              //- === scheme ===================================
              //- .types-content__scheme
                //- logo
                //- .types-scheme__logo
                //-   .types-scheme__logo-img
                //-   .types-scheme__logo-title Создано в Германии



              //- === about ===================================
              .types-about

                .types-content__substrate
                  +svg([{'class': 'svg-substrate svg-icon', 'pathid': 'svg_substrate', 'filename':'005_types-substrate'}])
                    svg(height='0', width='0', xmlns='http://www.w3.org/2000/svg')
                //- img.types-about__img(src="img/005_types-about__img.jpg")
                p.types-about__text
                  | Работает по принципу теплового зеркала.
                  | Оптимален для климата средней полосы.
                  | Однокамерный. Формула стеклопакета: 32 (4-24-4). Два стекла толщиной по 4 мм, дистанционная рамка 24 мм.
                  | Однокамерные стеклопакеты чаще всего применяют для остекления балконов и лоджий, неотапливаемых помещений, а также, в целях экономии, на окна и балконные блоки (окно + балконная дверь), которые выходят на уже застеклённую лоджию или балкон.
                p.types-about__text
                  | Двухкамерный. Формула: 40 (4-14-4-14-4). Три стекла по 4 мм, разделенные рамками 14 мм.
                  | Двойной стеклопакет является самым распространенным вариантом остекления. Он соответствует всем требованиям ГОСТа по теплопроводности, шумоизоляции и светопропусканию.
                p.types-about__text
                  | Двухкамерный. Формула: 40 (4-14-4-14-4). Три стекла по 4 мм, разделенные рамками 14 мм.
                  | Двойной стеклопакет является самым распространенным вариантом остекления. Он соответствует всем требованиям ГОСТа по теплопроводности, шумоизоляции и светопропусканию.
                  | 0,44 м² С/Вт
                  | Требования по ГОСТ 24866-99 к сопротивлению теплопередаче для энергосберегающих стеклопакетов:
                  | 0,53 м² С/Вт
                  | Двухкамерный мультифункциональный стеклопакет от Строй Мастер:
                  | При желании возможно изготовление и установка трехамерного стеклопакета (четыре стекла, три внутренних камеры), но такой стеклопакет будет довольно тяжел, а фурнитура окна будет нести излишние нагрузки. Частое открывание тяжелых створок может привести в результате к их провисанию.
                  | При этом стеклопакеты с энергосберегающим стеклом или, тем более, с комбинацией энергосберегающего и мультифункционального стекол при том же весе, что у стандартного двухкамерного стеклопакета, гораздо эффективнее сберегают тепло и мы рекомендуем для установки именно их.


              //- === btn-calc-btm ===================================
              .types-calc-btm
                .types-calc-btm__divider
                a.types-btn--bottom Рассчитать окно


// types end
