// structure

section.structure
  .shell
      .container
        .range
          .structure-wrapper

            //- title
            h2.structure-title Устройство стеклопакета
            hr.divider

            //- content
            .structure-content
              img.structure-content__img(src="img/005_structure-img.png")


// structure end
